/*
###########################################
###########################################
#########      FONTS      #################
*/
@import 'https://fonts.googleapis.com/css?family=Work+Sans:300,600';
/*
###########################################
###########################################
#########      GENERIC      ###############
*/
body {
	position: relative;
	overflow: hidden;
	overflow: auto;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	background-color: #ffffff;
	color: #000;
	font-family: "Work Sans", sans-serif;
}
canvas {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	z-index: -10;
}
img {
	width: 100%;
	vertical-align: top;
}
a {
	color: #fc6058;
	padding: 0 5px;
	text-decoration: none;
}
a:hover {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	color: #fc6058;
}
ul, ol, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
/*
###########################################
###########################################
#########      COLORS      ################
*/
.red { 
	background-color: #EF6F6C; 
}
.green {  
	background-color: #DEF4C6;
}
.blue {  
	background-color: #58A4B0;
}
.yellow {  
	background-color: #F2C57C;
}
/*
###########################################
###########################################
#########      MAIN STYLES      ###########
*/
.header {
	height: 80px;
	margin-bottom: 60px;
}
.header,
.container,
.goodbye {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}
.tab,
a.home {
	font-family: "Arial", sans-serif;
	font-size: 1rem;
	color: #999;
	letter-spacing: 1px;
}
a.home {
	display: block;
	padding-top: 25px;
	color: #fc6058;
}
.container .intro {
	margin-bottom: 60px;
}
.container h6 {
	font-size: 14px;
	color: #999;
	font-weight: 300;
}
.container h1,
.container h2 {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 40px;
	letter-spacing: -1px;
}
.container h2 a::after {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/external-link.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: 3px;
}
.container p {
	margin-bottom: 80px;
}
.container p,
.container h3 {
	font-size: 22px;
	color: #555;
	line-height: 1.4;
	font-weight: 300;
}
@media all and (min-width: 768px) {
	.container h1,
	.container h2 {
		font-size: 2.3rem;
		font-weight: 600;
		letter-spacing: -1.5px;
	}
	.container p,
	.container h3 {
		max-width: 70%;
	}
}
.container h3:first-of-type {
	margin-bottom: 80px;
}
.container ol {
	width: 100%;
	max-width: 1004px;
	margin: 0 auto;
	display: block;
}
.container li {
	display: inline-block;
	vertical-align: text-top;
}
.works {
	width: 100%;
	margin: 20px 0 80px 0;
}
.works ol {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}
.works ol li {
	display: block;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #f1f1f1;
	padding-top: 30px;
    padding-bottom: 20px;
}
.works .media {
	overflow: hidden;
	width: 80px;
	height: 80px;
	display: inline-block;
	margin-right: 19px;
	border-radius: 50%;
	border: 4px solid #dddddd;
	vertical-align: top;
}
@media all and (min-width: 768px) {
	.works .media {
		width: 120px;
		height: 120px;
		transition-duration: 0.4s;
		transition-property: border;
	}
}
.works .media img {
	display: inline-block;
	width: 100%;
	margin-right: 60px;
	display: block;
}
.works .description {
	display: inline-block;
	width: 60%;
	margin-bottom: 20px;
	vertical-align: top;
}
.works .description h3 {
	font-size: 1.3rem;
	font-weight: bold;
	color: #000000;
	margin: 0;
}
@media all and (min-width: 768px) {
	.works .description h3 {
		font-size: 1.8rem;
		max-width: 100%;
		margin-bottom: 5px;
	}
}
.works .description p {
	margin: 0 0 20px 0;
	font-size: 1rem;
	max-width: 100%;
}
@media all and (min-width: 768px) {
	.works .description p {
		font-size: 1.2rem;
	}
}
.works li a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 1;
}
.works .button {
	position: relative;
	display: inline-block;
	color: #fc6058;
	margin-bottom: 20px;
    vertical-align: text-bottom;
    padding: 10px 20px;
    transition-duration: 0.4s;
    transition-property: border, color;
    border-radius: 40px;
    background-color: #ffffff;
    border: 4px solid transparent;
    z-index: 0;
}
@media all and (max-width: 768px) {
	.works .button {
		border-color: #fc6058;
	}
}
.works .button span {
	font-weight: bold;
	font-size: 0.7rem;
	text-transform: uppercase;
	z-index: 0;
}

@media all and (min-width: 768px) {
	.works .button {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}
.works .button::after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #fc6058;
    margin-left: 10px;
}
@media all and (min-width: 1000px) {
	.works li:hover {
		cursor: pointer;
	}
	.works li:hover .button {
		color: #fc6058;
		border-color: #fc6058;
	}
	.works li:hover .media {
		border: 4px solid #fc6058;
	}
	.works li:hover .button::after {
		border-left-color: #fc6058;
	}
}
/*
###########################################
###########################################
#########   FIRST BLOCK    ################
*/
.container ol.first-block {
	margin-bottom: 60px;
}
.container ol.first-block li img {
	margin-bottom: 20px;
}
@media all and (min-width: 480px) and (max-width: 768px) {
	.container ol.first-block li:first-child img:first-of-type {
		width: 40%;
		margin-right: 20px;
	}
	.container ol.first-block li:first-child img:last-of-type {
		width: 55%;
	}
}
@media all and (min-width: 768px) {
	.container ol.first-block li:nth-child(1) {
		max-width: 56.5%;
		margin-right: 20px;
	}
	.container ol.first-block li:nth-child(2) {
		max-width: 40%;
	}
}
/*
###########################################
###########################################
#########   SECOND BLOCK   ################
*/
.container ol.second-block {
	margin-bottom: 0;
}
.container ol.second-block li {
	margin-bottom: 20px;
}
.container ol.second-block li:nth-child(2) img {
	margin-bottom: 20px;
}
@media all and (min-width: 480px) {
	.container ol.second-block li:nth-child(1) {
		max-width: 33%;
		margin-right: 15px;
	}
	.container ol.second-block li:nth-child(2) {
		max-width: 62%;
	}
	.container ol.second-block li:nth-child(2) img:nth-child(1) {
		margin-bottom: 20px;
	}
	.container ol.second-block li:nth-child(2) img:nth-child(2) {
		max-width: 35%;
		margin-right: 20px;
	}
	.container ol.second-block li:nth-child(2) img:nth-child(3) {
		max-width: 51%;
	}
}
@media all and (min-width: 768px) {
	.container ol.second-block li:nth-child(1) {
		max-width: 31.9%;
		margin-right: 15px;
	}
	.container ol.second-block li:nth-child(2) {
		max-width: 65.3%;
	}
	.container ol.second-block li:nth-child(2) img:nth-child(3) {
		max-width: 60%;
	}
}
@media all and (min-width: 1024px) {
	.container ol.second-block li:nth-child(1) {
		max-width: 31.8%;
	}
	.container ol.second-block li:nth-child(2) {
		max-width: 65.9%;
	}
}
/*
###########################################
###########################################
#########   THIRD BLOCK   ################
*/
.container ol.third-block {
	margin-bottom: 80px;
}
/*
###########################################
###########################################
#########    TOOLS   ################
*/
.container ol.tools {
	margin-bottom: 80px;
}
.container ol.tools li {
	max-width: 13%;
	padding: 5px;
}
.container ol.tools li span {
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 10px;
	vertical-align: bottom;
}
/*
###########################################
###########################################
#########    FOOTER   ################
*/
.goodbye {
	width: 100%;
}
.goodbye ul {
	margin-top: 40px;
}
.goodbye ul li {
	display: inline-block;
}