/*
###########################################
###########################################
#########      FONTS      #################
*/
@import 'https://fonts.googleapis.com/css?family=Work+Sans:300,600';
/*
###########################################
###########################################
#########      GENERIC      ###############
*/
body {
	position: relative;
	overflow: hidden;
	overflow: auto;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	background-color: #ffffff;
	color: #30313d;
	font-family: "Work Sans", sans-serif;
}
canvas {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	z-index: -10;
}
img {
	width: 100%;
	vertical-align: top;
}
a {
	color: #E07A5F;
	padding: 0 5px;
	text-decoration: none;
}
a:hover {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	color: #E07A5F;
}
ul, ol, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
/*
###########################################
###########################################
#########      COLORS      ################
*/
.red { 
	background-color: #EF6F6C; 
}
.green {  
	background-color: #DEF4C6;
}
.blue {  
	background-color: #58A4B0;
}
.yellow {  
	background-color: #F2C57C;
}
/*
###########################################
###########################################
#########      MAIN STYLES      ###########
*/
header {
	position: relative;
	z-index: 1;
}
.header {
	position: fixed;
	top: 0;
	right: 0;
	left:0;
	width: 100%;
	max-width: 1200px;
	height: 80px;
	margin: 0 auto 60px auto;
	z-index: 1;
}
.header.fixed {
	background-color: #ffffff;
}
.container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 100px auto 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}
.goodbye {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}
.tab {
	font-size: 1rem;
	color: #ccc;
	margin: 0 0 20px 0;
	display: block;
}
@media all and (min-width: 1000px) {
	.tab {
		margin: 0;
	}
}
a.home {
	font-family: "Arial", sans-serif;
	font-size: 1.2rem;
	color: #30313d;
	display: inline-block; 
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 20px;
}
a.about-header {
	display: none;
	position: absolute;
	top: 0;
	right: 20px;
	width: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #cccccc;
}
a.about-header:hover {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
	color: #E07A5F;
}
.container h1 {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.2;
}
@media all and (min-width: 768px) {
	.container h1 {
		font-size: 3.5rem;
	}
}
.container h2.section-title {
	font-size: 1.6rem;
	font-weight: bold;
	color: #cccccc;
}
@media all and (min-width: 768px) {
	.container h2.section-title {
		font-size: 3.5rem;
	}
}
.intro h1 {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.2;
	margin: 100px 20px 60px 20px;
	letter-spacing: 0;
	color: #30313d;
}
@media all and (min-width: 768px) {
	.intro h1 {
		font-size: 3.5rem;
		padding-left: 20px;
		padding-right: 20px;
		margin: 100px auto 80px auto;
	}
}
@media all and (min-width: 1200px) {
	.intro h1 {
		max-width: 1160px;
		font-size: 3.5rem;
		padding-right: 0;
		padding-left: 0;
	}
}
.intro + .container {
	margin-top: -20px;
}
.container .mini-about {
	font-family: "Arial", sans-serif;
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 60px;
	color: #F3F3F4;
}
.container .mini-about h3:first-of-type {
    margin-bottom: 0;
}
.container .mini-about h3 {
	font-size: 22px;
	color: #555;
	line-height: 1.4;
	font-weight: 300;
}
@media (min-width: 768px){
	.container .mini-about h3 {
		font-size: 1.5rem;
		max-width: 70%;
	}
}
.goodbye h6 {
	font-size: 14px;
	color: #30313d;
	font-weight: 300;
}
.container h2 {
	font-size: 1.2rem;
	line-height: 1.4;
	font-family: "Arial", sans-serif;
	font-weight: 100;
	letter-spacing: 0;
	color: #97989E;
}
@media all and (min-width: 1000px) {
	.container .mini-about h2 {
		max-width: 800px;
	}
}
.container h3 a::after {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/external-link.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: 3px;
}
.container p {
	margin-bottom: 80px;
}
.container p,
.container h3 {
	font-family: "Arial", sans-serif;
	font-size: 22px;
	color: #555;
	line-height: 1.4;
	font-weight: 300;
}
@media all and (min-width: 768px) {
	.container p,
	.container h3 {
		max-width: 70%;
	}
}
.container h3:first-of-type {
	margin-bottom: 80px;
}
.container ol {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: block;
}
.container li {
	display: inline-block;
	vertical-align: text-top;
}
.works {
	position: relative;
	width: 100%;
	margin: 0 auto 80px auto;
}
.works ol {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}
.works ol li {
	display: block;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 20px;
}
@media all and (min-width: 768px) {
	.works ol li {
		padding: 20px 0;
	}
}
@media all and (min-width: 1000px) {
	.container .works ol li {
		max-width: 800px;
	}
}
.works .media {
	overflow: hidden;
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-right: 19px;
	border-radius: 50%;
	border: 4px solid #dddddd;
	vertical-align: top;
}
@media all and (min-width: 768px) {
	.works .media {
		width: 120px;
		height: 120px;
		transition-duration: 0.4s;
		transition-property: border;
	}
}
.works .media img {
	display: inline-block;
	width: 100%;
	margin-right: 60px;
	display: block;
}
.works .description {
	display: inline-block;
	width: 66%;
	vertical-align: top;
}
@media all and (min-width: 768px) {
	.works .description {
		margin-bottom: 20px;
	}
}
.works .description h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
	color: #30313d;
}
@media all and (min-width: 768px) {
	.works .description h3 {
		font-size: 1.8rem;
		max-width: 100%;
		margin-bottom: 5px;
	}
}
.works .description p {
	font-family: "Arial", sans-serif;
	margin: 0;
	font-size: 1.2rem;
	letter-spacing: 0;
	color: #97989E;
}
@media all and (min-width: 768px) {
	.works .description p {
		margin: 0 0 20px 0;
		width: 100%;
		max-width: 100%;
	}
}
.works li a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 1;
}
.works .button {
	position: relative;
	display: inline-block;
	color: #E07A5F;
    vertical-align: text-bottom;
    padding: 10px 0;
    border-radius: 40px;
    border: 2px solid transparent;
    z-index: 0;
}
@media all and (min-width: 1000px) {
	.works .button {
		margin-bottom: 20px;
		padding: 10px 20px;
		border-color: transparent;
	    transition-duration: 0.4s;
	    transition-property: border, color;
	}
}
.works .button span {
	font-weight: bold;
	font-size: 0.7rem;
	text-transform: uppercase;
	z-index: 0;
}
@media all and (min-width: 768px) {
	.works .button {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}
.works .button::after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #E07A5F;
    margin-left: 10px;
}
@media all and (min-width: 1000px) {
	.works li:hover {
		cursor: pointer;
	}
	.works li:hover .button {
		color: #E07A5F;
		border-color: #E07A5F;
	}
	.works li:hover .button::after {
		border-left-color: #E07A5F;
	}
}
/*
###########################################
###########################################
#########   FIRST BLOCK    ################
*/
.container ol.first-block {
	margin-bottom: 60px;
}
.container ol.first-block li img {
	margin-bottom: 20px;
}
@media all and (min-width: 480px) and (max-width: 768px) {
	.container ol.first-block li:first-child img:first-of-type {
		width: 40%;
		margin-right: 20px;
	}
	.container ol.first-block li:first-child img:last-of-type {
		width: 55%;
	}
}
@media all and (min-width: 768px) {
	.container ol.first-block li:nth-child(1) {
		max-width: 56.5%;
		margin-right: 20px;
	}
	.container ol.first-block li:nth-child(2) {
		max-width: 40%;
	}
}
/*
###########################################
###########################################
#########   SECOND BLOCK   ################
*/
.container ol.second-block {
	margin-bottom: 0;
}
.container ol.second-block li {
	margin-bottom: 20px;
}
.container ol.second-block li:nth-child(2) img {
	margin-bottom: 20px;
}
@media all and (min-width: 480px) {
	.container ol.second-block li:nth-child(1) {
		max-width: 33%;
		margin-right: 15px;
	}
	.container ol.second-block li:nth-child(2) {
		max-width: 62%;
	}
	.container ol.second-block li:nth-child(2) img:nth-child(1) {
		margin-bottom: 20px;
	}
	.container ol.second-block li:nth-child(2) img:nth-child(2) {
		max-width: 35%;
		margin-right: 20px;
	}
	.container ol.second-block li:nth-child(2) img:nth-child(3) {
		max-width: 51%;
	}
}
@media all and (min-width: 768px) {
	.container ol.second-block li:nth-child(1) {
		max-width: 31.9%;
		margin-right: 15px;
	}
	.container ol.second-block li:nth-child(2) {
		max-width: 65.3%;
	}
	.container ol.second-block li:nth-child(2) img:nth-child(3) {
		max-width: 60%;
	}
}
@media all and (min-width: 1024px) {
	.container ol.second-block li:nth-child(1) {
		max-width: 31.8%;
	}
	.container ol.second-block li:nth-child(2) {
		max-width: 65.9%;
	}
}
/*
###########################################
###########################################
#########   THIRD BLOCK   ################
*/
.container ol.third-block {
	margin-bottom: 80px;
}
/*
###########################################
###########################################
#########    TOOLS   ################
*/
.container ol.tools {
	margin-bottom: 80px;
}
.container ol.tools li {
	max-width: 13%;
	padding: 5px;
}
.container ol.tools li span {
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 10px;
	vertical-align: bottom;
}
/*
###########################################
###########################################
#########    FOOTER   ################
*/
.goodbye {
	width: 100%;
}
.goodbye ul {
	margin-top: 40px;
}
.goodbye ul li {
	display: inline-block;
}