.container__box
	//- BOX BODY
	.box__body
		.project-list
			a(href='design-systems/driving-adoption-in-design-systems.html').project-list-item
				//- .project-list-thumbnail
				//- 	img(src="/assets/images/design-systems/driving-adoption-in-design-systems/ds-hero.webp", alt="Driving Adoption in Design Systems article")
				.project-list-details
					.project-list-description
						.font__medium-3 Driving Adoption in Design Systems
						.font__small-2 Design Systems  ·  Best Practices
						.font__small-3 2025
					.project-list-icon
						.ri-arrow-right-line
			a(href='design-systems/creating-and-scaling-design-systems.html').project-list-item
				//- .project-list-thumbnail
				//- 	img(src="/assets/images/design-systems/creating-and-scaling-design-systems/ds-hero.webp", alt="Creating and Scaling Design Systems article")
				.project-list-details
					.project-list-description
						.font__medium-3 Creating and Scaling Design Systems
						.font__small-2 Design Systems  ·  Best Practices
						.font__small-3 2025
					.project-list-icon
						.ri-arrow-right-line
			a(href='design-systems/working-with-engineering.html').project-list-item
				//- .project-list-thumbnail
				//- 	img(src="/assets/images/design-systems/working-with-engineering/working-with-engineering-01.webp", alt="Working with Engineering article")
				.project-list-details
					.project-list-description
						.font__medium-3 Working with Engineering
						.font__small-2 Design Systems  ·  Best Practices
						.font__small-3 2025
					.project-list-icon
						.ri-arrow-right-line
			a(href='design-systems/rolling-a-design-system-out.html').project-list-item
				//- .project-list-thumbnail
				//- 	img(src="/assets/images/design-systems/rolling-a-design-system-out/rolling-out-01.webp", alt="Rolling a Design System out article")
				.project-list-details
					.project-list-description
						.font__medium-3 Rolling a Design System out
						.font__small-2 Design Systems  ·  Best Practices
						.font__small-3 2025
					.project-list-icon
						.ri-arrow-right-line
			a(href='design-systems/handling-resistance.html').project-list-item
				//- .project-list-thumbnail
				//- 	img(src="/assets/images/design-systems/handling-resistance/handling-resistance-01.webp", alt="Handling Resistance article")
				.project-list-details
					.project-list-description
						.font__medium-3 Handling Resistance
						.font__small-2 Design Systems  ·  Best Practices
						.font__small-3 2025
					.project-list-icon
						.ri-arrow-right-line
			a(href='design-systems/keeping-a-design-system-alive.html').project-list-item
				//- .project-list-thumbnail
				//- 	img(src="/assets/images/design-systems/keeping-a-design-system-alive/keeping-alive-01.webp", alt="Keeping a Design System alive article")
				.project-list-details
					.project-list-description
						.font__medium-3 Keeping a Design System alive
						.font__small-2 Design Systems  ·  Best Practices
						.font__small-3 2025
					.project-list-icon
						.ri-arrow-right-line
			a(href='design-systems/working-with-engineering.html').project-list-item
				//- .project-list-thumbnail
				//- 	img(src="/assets/images/design-systems/working-with-engineering/working-with-engineering-01.webp", alt="Working with Engineering article")
				.project-list-details
					.project-list-description
						.font__medium-3 Working with Engineering
						.font__small-2 Design Systems  ·  Best Practices
						.font__small-3 2025
					.project-list-icon
						.ri-arrow-right-line
			a(href='design-systems/rolling-a-design-system-out.html').project-list-item
				//- .project-list-thumbnail
				//- 	img(src="/assets/images/design-systems/rolling-a-design-system-out/rolling-out-01.webp", alt="Rolling a Design System out article")
				.project-list-details
					.project-list-description
						.font__medium-3 Rolling a Design System out
						.font__small-2 Design Systems  ·  Best Practices
						.font__small-3 2025
					.project-list-icon
						.ri-arrow-right-line
			a(href='design-systems/handling-resistance.html').project-list-item
				//- .project-list-thumbnail
				//- 	img(src="/assets/images/design-systems/handling-resistance/handling-resistance-01.webp", alt="Handling Resistance article")
				.project-list-details
					.project-list-description
						.font__medium-3 Handling Resistance
						.font__small-2 Design Systems  ·  Best Practices
						.font__small-3 2025
					.project-list-icon
						.ri-arrow-right-line
			a(href='design-systems/keeping-a-design-system-alive.html').project-list-item
				//- .project-list-thumbnail
				//- 	img(src="/assets/images/design-systems/keeping-a-design-system-alive/keeping-alive-01.webp", alt="Keeping a Design System alive article")
				.project-list-details
					.project-list-description
						.font__medium-3 Keeping a Design System alive
						.font__small-2 Design Systems  ·  Best Practices
						.font__small-3 2025
					.project-list-icon
						.ri-arrow-right-line
