.goodbye {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: $_int-80 $_int-16;
  @media all and (min-width: 768px) {
    padding: $_int-80 $_int-32;
  }
  ul {
    text-align: center;
    li {
      display: inline-block;
      margin: $_int-4;
      @media all and (min-width: 768px) {
          margin: $_int-12 $_int-8;
      }
      .font__small-1 {
        font-size: 14px;
        color: $_text-tertiary;
        @media all and (min-width: 768px) {
          font-size: 18px;
          &:hover {
            color: $_text-secondary;
          }
        }
        i {
          padding: 0 $_int-4;
        }
      }
    }
  }
  .font__small-3 {
    text-align: center;
    margin: $_int-32 auto;
    color: $_text-tertiary;
  }
}