.goodbye {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 80px 0;
  ul {
    text-align: center;
    li {
      display: inline-block;
      margin: 12px 32px;
        @media all and (min-width: 768px) {
          margin-right: $_int-16;
          margin-left: $_int-16;
      }
    }
  }
  .font__small-3 {
    text-align: center;
    margin: $_int-32 auto;
    color: $_text-secondary;
  }
  & .linkedin__box {
    padding-top: $_int-16;
    padding-bottom: $_int-24;
    text-align: center;
  }
}