.goodbye {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 80px 16px;
  @media all and (min-width: 768px) {
    padding: 80px 32px;
  }
  ul {
    text-align: center;
    li {
      display: inline-block;
      margin: 4px;
      @media all and (min-width: 768px) {
          margin: 12px 8px;
      }
      .font__small-1 {
        font-size: 14px;
        color: $_text-tertiary;
        @media all and (min-width: 768px) {
          font-size: 18px;
          &:hover {
            color: $_text-secondary;
          }
        }
        i {
          padding: 0 4px;
        }
      }
    }
  }
  .font__small-3 {
    text-align: center;
    margin: $_int-32 auto;
    color: $_text-tertiary;
  }
}