header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  
  &.header-hidden {
    transform: translateY(-100%);
  }
}

.header {
  width: 100%;
  height: 80px;
  margin: 0;
  z-index: 1000;
  background: rgba(2, 2, 2, 0.6);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  .header__nav {
    line-height: 1;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    @media all and (min-width: 1024px) {
      padding-left: $_int-32;
    }
    ol {
      position: absolute;
      right: $_int-16;
      top: $_int-24 + $_int-4;
      @media all and (min-width: 1024px) {
        right: $_int-32;
      }
      li {
        position: relative;
        display: inline-block;
        .dropdown {
          cursor: pointer;
          @media all and (min-width: 768px) {
            &.active + .dropdownMenu,
            &:hover .dropdownMenu {
              display: block;
              position: absolute;
              border-radius: 4px;
              color: $_text-primary;
              left: -#{$_int-8};
              top: $_int-40;
              background-color: $_background-secondary;
              li {
                display: block;
                .font__small-1 {
                  width: 100%;
                  display: inline-block;
                  padding: $_int-8 $_int-80 $_int-8 $_int-16;
                  vertical-align: middle;
                  font-weight: 700;
                  font-size: 14px;
                  color: $_text-tertiary;
                  text-transform: uppercase;
                  box-sizing: border-box;
                  &:hover {
                    color: $_text-primary;
                  }
                }
                &:last-child {
                  border-bottom-color: transparent;
                }
                &:hover {
                  background-color: $_background-tertiary;
                }
              }
            }
          }
          @media all and (min-width: 768px) {
            &:hover .about__header {
              background-color: $_background-secondary;
            }
          }
        }
        .dropdownMenu {
          cursor: pointer;
          display: none;
        }
        a {
          padding-left: $_int-8;
          padding-right: $_int-8;
          cursor: pointer;
          @media all and (min-width: 768px) {
            padding-left: $_int-16;
            padding-right: $_int-16;
          }
        }
      }
    }
  }
}

a {
  &.home {
    display: inline-block;
    padding: $_int-24 0;
    margin-left: $_int-16;
    font-weight: $_bold;
    color: $_text-secondary;
    text-transform: uppercase;
    mix-blend-mode: difference;
    @media all and (max-width: 1024px) {
      margin-left: $_int-16;
    }
  }
  &:hover {
    color: $_text-primary;
    opacity: 1;
  }
  &.about__header {
    position: relative;
    padding: $_int-24 0;
    color: $_text-secondary;
    @media all and (min-width: 768px) {
      right: $_int-8;
      &:hover {
        background-color: $_background-tertiary;
        color: $_text-primary;
      }
    }
  }
}