header {
  position: relative;
  z-index: 1;
}

.header {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 0;
  z-index: 1;
  background-color: transparent;
  .header__nav {
    line-height: 1;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    @media all and (min-width: 1024px) {
      padding-left: $_int-32;
    }
    ol {
      position: absolute;
      right: 14px;
      @media all and (min-width: 1024px) {
        right: $_int-32;
      }
      top: $_int-24 + $_int-4;
      li {
        position: relative;
        display: inline-block;
        .dropdown {
          cursor: pointer;
          @media all and (min-width: 768px) {
            &.active + .dropdownMenu,
            &:hover .dropdownMenu {
              display: block;
              position: absolute;
              border-radius: 4px;
              color: $_neutral08;
              left: -10px;
              top: 42px;
              background-color: $_neutral09;
              li {
                display: block;
                .font__small-1 {
                  width: 100%;
                  display: inline-block;
                  padding: $_int-8 72px $_int-8 $_int-16;
                  vertical-align: middle;
                  font-weight: 700;
                  font-size: 14px;
                  color: $_neutral04;
                  text-transform: uppercase;
                  box-sizing: border-box;
                  &:hover {
                    color: $_white;
                  }
                }
                &:last-child {
                  border-bottom-color: transparent;
                }
                &:hover {
                  background-color: $_neutral09;
                }
              }
            }
          }
          @media all and (min-width: 768px) {
            &:hover .about__header {
              background-color: $_neutral08;
            }
          }
        }
        .dropdownMenu {
          cursor: pointer;
          display: none;
        }
        a {
          padding-left: $_int-8;
          padding-right: $_int-8;
          transition: all ease-out .2s;
          -webkit-transition: all ease-out .2s;
          -moz-transition: all ease-out .2s;
          cursor: pointer;
          @media all and (min-width: 768px) {
            padding-left: $_int-16;
            padding-right: $_int-16;
          }
        }
      }
    }
  }
}

a {
  &.home {
    display: inline-block;
    padding: 28px 0;
    margin-left: $_int-16;
    font-weight: $_bold;
    color: $_white;
    text-transform: uppercase;
    @media all and (max-width: 1024px) {
      margin-left: $_int-24;
    }
  }
  &.about__header {
    position: relative;
    padding: $_int-24 0;
    font-weight: $_bold;
    font-size: 14px;
    color: $_neutral05;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      right: 10px;
      &:hover {
        background-color: $_neutral08;
        color: $_white;
      }
    }
  }
}