// Importing fonts
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,700&display=swap');

//WEIGHTS
$_light: 300;
$_regular: 400;
$_bold: 700;

// Headings
h1, h2, h3, h4, h5, h6, p {
  font-family: "Hind", sans-serif;
  font-weight: $_regular;
  line-height: 1.5;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// h1 {
//   font-size: 3.5rem;
// }

// h2 {
//   font-size: 3rem;
// }

// h3 {
//   font-size: 2.5rem;
// }

// h4 {
//   font-size: 2rem;
// }

// h5 {
//   font-size: 1.5rem;
// }

// h6 {
//   font-size: 1.2rem;
// }

p {
  font-size: 1.1rem;
  color: #111111;
  margin-bottom: 60px;
  font-weight: $_light;
  @media all and (min-width: 768px) {
    font-size: 1.6rem;
  }
}

// SERIF FONT
.title__large-2,
.title__large-1,
.title__medium-2,
.title__medium-1 {
  font-family: 'Source Serif Pro', serif;
  font-weight: $_bold;
  color: $_dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.title__large-2 {
  font-size: 80px;
  line-height: 92px;
}

.title__large-1 {
  font-size: 60px;
  line-height: 72px;
}

.title__medium-2 {
  font-size: 34px;
  line-height: 44px;
}

.title__medium-1 {
  font-size: 26px;
  line-height: 36px;
}

// SANS SERIF FONT
.paragraph__large-2,
.paragraph__large-1,
.paragraph__medium-3,
.paragraph__medium-2,
.paragraph__medium-1,
.paragraph__small-3,
.paragraph__small-2,
.paragraph__small-1 {
  font-family: 'Hind', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.paragraph__large-2 {
  font-size: 80px;
  line-height: 92px;
  font-weight: $_bold;
  color: $_dark;
}

.paragraph__large-1 {
  font-size: 60px;
  line-height: 72px;
  font-weight: $_bold;
  color: $_dark;
}

.paragraph__medium-3 {
  font-size: 34px;
  line-height: 44px;
  font-weight: $_bold;
  color: $_dark;
}

.paragraph__medium-2 {
  font-size: 34px;
  line-height: 40px;
  font-weight: $_light;
  color: $_dark;
}

.paragraph__medium-1 {
  font-size: 26px;
  line-height: 36px;
  font-weight: $_light;
  color: $_dark;
}

.paragraph__small-3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: $_regular;
  color: $_dark;
}

.paragraph__small-2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: $_regular;
  color: $_dark;
}

.paragraph__small-1 {
  font-size: 12px;
  line-height: 18px;
  font-weight: $_regular;
  color: $_dark;
}