// CONTAINER INTRO BODY

// BODY
.intro__body {
	.holder {
		margin-bottom: $_int-60;
		@media all and (min-width: 768px) {
			margin-bottom: $_int-100;
		}
		> * {
			margin-bottom: $_int-40;
			@media all and (min-width: 768px) {
				margin-bottom: $_int-60;
			}
		}
	}
	.holding-1--full {
		margin-bottom: $_int-40;
		margin-left: $_int-16;
		margin-right: $_int-16;
		@media all and (min-width: 768px) {
			margin-bottom: $_int-60;
			margin-left: 0;
			margin-right: 0;
		}
		img {
			width: 100%;
			margin-bottom: $_int-8;
		}
		span {
			display: block;
			font-size: 0.8rem;
		}
	}
	.holding-1 {
		margin-bottom: $_int-60;
		@media all and (min-width: 768px) {
			margin-bottom: $_int-100;
		}
		> img {
			display: block;
			width: 80%;
			max-width: 300px;
			margin: 0 auto;
			@media all and (min-width: 768px) {
				width: 41%;
			}
		}
		&.fit {
			margin-bottom: $_int-80;
			@media all and (min-width: 768px) {
				margin-bottom: $_int-100;
			}
			> img {
				display: block;
				width: 80%;
				max-width: 300px;
				margin: 0 auto;
				@media all and (min-width: 768px) {
					width: 80%;
					max-width: none;
				}
			}
		}
		&.grey {
			padding-top: $_int-40;
			padding-bottom: $_int-40;
			@media all and (min-width: 768px) {
				padding-top: $_int-60;
				padding-bottom: $_int-60;
			}
		}
	}
	.holding-2 {
		margin-bottom: $_int-60;
		@media all and (min-width: 768px) {
			margin-bottom: $_int-100;
		}
		ol {
			@media all and (max-width: 768px) {
				margin-left: $_int-16;
				margin-right: $_int-16;
			}
			li {
				display: block;
				max-width: 100%;
				margin-bottom: $_int-8;
				@media all and (min-width: 480px) {
					max-width: 480px;
					margin: 0 auto $_int-60 auto;
					@media all and (min-width: 768px) {
						margin: 0 auto $_int-100 auto;
					}
				}
				@media all and (min-width: 768px) {
					display: inline-block;
					max-width: 40%;
					margin: $_int-24;
				}
				@media all and (min-width: 1024px) {
					max-width: 45%;
					margin: $_int-16 $_int-24;
				}
			}
		}
		span {
		display: block;
		font-size: 0.8rem;
		line-height: 1.5;
		margin-left: $_int-16;
		margin-right: $_int-16;
		  @media all and (min-width: 768px) {
			margin-left: 0;
			margin-right: 0;
		  }
		}
	}
	.holding-3 {
		margin-bottom: $_int-60;
		@media all and (min-width: 768px) {
			margin-bottom: $_int-100;
		}
		> * {
			display: inline-block;
			width: 30%;
			margin: $_int-16;
			vertical-align: top;
			border: 1px solid #EAEAEA;
			border-radius: 10px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.holding-4 {
		margin-bottom: $_int-60;
		@media all and (min-width: 768px) {
			margin-bottom: $_int-100;
		}
		ol {
			@media all and (max-width: 768px) {
				margin-left: $_int-16;
				margin-right: $_int-16;
			}
			li {
				display: block;
				max-width: 100%;
				margin-bottom: $_int-40;
				@media all and (min-width: 480px) {
					max-width: 480px;
					margin: 0 auto $_int-60 auto;
					@media all and (min-width: 768px) {
						margin: 0 auto $_int-100 auto;
					}
				}
				@media all and (min-width: 768px) {
					display: inline-block;
					max-width: 40%;
					margin: $_int-24;
				}
				@media all and (min-width: 1024px) {
					display: inline-block;
					max-width: 36%;
					margin: $_int-60;
				}
			}
		}
	}
	&.half {
		position: relative;
		p {
			@media all and (min-width: 1024px) {
				max-width: 60%;
			}
		}
		.holding-1--full {
			@media all and (min-width: 1024px) {
				position: absolute;
				right: 0;
				top: 0;
				width: 35%;
				img {
					width: 100%;
					margin-bottom: 10px;
				}
			}
			span {
			  font-size: 0.8rem;
			}
		}
	}
	ol li {
		list-style: circle;
		color: $_text-primary;
	}

	.design-stages-list {
		margin-bottom: $_int-60;
		@media all and (min-width: 768px) {
			margin-bottom: $_int-100;
		}
		&.half {
			position: relative;
			p {
				@media all and (min-width: 1024px) {
					max-width: 60%;
				}
			}
			.holding-1--full {
				@media all and (min-width: 1024px) {
					position: absolute;
					right: 0;
					top: 0;
					width: 35%;
					img {
						width: 100%;
						margin-bottom: $_int-8;
					}
				}
				span {
				  font-size: 0.8rem;
				}
			}
		}
		ol {
			font-weight: $_light;
			font-size: 1.6rem;
			margin-bottom: $_int-40;
			padding-left: $_int-16;
			padding-right: $_int-16;
			@media all and (min-width: 768px) {
				margin-bottom: $_int-60;
			}
			@media all and (min-width: 1024px) {
				padding-left: 0;
				padding-right: 0;
			}
		}
		li {
			list-style: none;
		}
	}
}
