// CONTAINER HEADER

//Main styles
#introHeader {
  display: block;
}

.container__intro {
  .intro__header {
	position: relative;
  }
  .intro__header ol {
	margin-bottom: $_int-40;
	li {
		list-style: square inside;
	}
  }
}

// HEADER INTRO BOTTOM
.container .container__intro .intro__header--bottom {
	max-width: 904px;
	margin: 0 auto 80px auto;
	padding: 0 16px;
	@media all and (min-width: 768px) {
		margin: 80px auto;
	}
	.font__large-1 {
		margin-bottom: $_int-24;
		text-align: center;
	}
	.font__medium-3 {
		margin-bottom: $_int-40;
		text-align: center;
		@media all and (min-width: 768px) {
			line-height: 44px;
			max-width: 60%;
			margin-right: auto;
			margin-left: auto;
		}
	}
	.more__button {
		margin: 0 auto;
		width: 104px;
		text-align: center;
		.font__small-1 {
			color: $_white;
			font-weight: $_bold;
			text-transform: uppercase;
		}
	}

	// LANDING LEFT ALIGNED
	&.landing {
		position: relative;
		margin: 80px auto 120px auto;
		@media all and (min-width: 768px) {
			margin: 180px auto 320px auto;
			&::after {
				content: url("../images/about/celio-intro.png");
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				height: 200px;
				z-index: -1;
			}
		}
		.font__large-1 {
			text-align: left;
		}
		.font__medium-3 {
			text-align: left;
			@media all and (min-width: 768px) {
				max-width: 80%;
				margin: 0;
				margin-bottom: 24px;
			}
		}
		.font__small-1 {
			color: $_link;
			.internal__source {
				&::after {
					background-image: none;
				}
			}
		}
	}

	// TEXT ON SECONDARY PAGES
	&.half__contained {
		.font__large-2 {
			text-align: left;
		}
		.font__medium-3 {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			margin-top: $_int-24;
			text-align: left;
		}
	}

	// TEXT AND IMAGE SIDE BY SIDE
	.half__intro {
		width: 100%;
		display: inline-block;
		.font__medium-3 {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			margin-top: $_int-24;
			margin-bottom: $_int-80;
			text-align: left;
			@media all and (min-width: 768px) {
				width: 57%;
				margin-bottom: 0;
				margin-right: $_int-80;
			}
		}
		.picture__right {
			display: block;
			max-width: 41%;
			margin: 0 auto;
			@media all and (min-width: 768px) {
				display: inline-block;
				margin-top: 24px;
				max-width: 30%;
			}
			> img {
				display: block;
				@media all and (min-width: 768px) {
				}
			}
		}
	}
}

// ROLE INDUSTRY
.container .container__intro .intro__header--bottom {
	.role__industry {
		margin-top: 32px;
		margin-bottom: 40px;
		.font__small-1 {
			border-bottom: 1px solid $_border;
			padding-bottom: 32px;
			line-height: 1.8;
		}
	}
}