body {
  position: relative;
  overflow: auto;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  background-color: $_white;
  color: $_dark;
  font-family: "Hind", sans-serif;
  box-sizing: border-box;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: -10;
}

img {
  width: 100%;
  vertical-align: top;
}

a {
  color: $_link;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    filter: alpha(opacity = 80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    text-decoration: underline;
  }
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Intervals
// Variables
$_int-xxs: 4px;
$_int-xs: 8px;
$_int-s: 12px;
$_int-m: 16px;
$_int-l: 24px;
$_int-xl: 32px;
$_int-xxl: 40px;
$_int-xxxl: 60px;
$_int-ultra: 80px;

// Defaults
.int-xxs {
  margin-bottom: $_int-xxs;
}
.int-xs {
  margin-bottom: $_int-xs;
}
.int-s {
  margin-bottom: $_int-s;
}
.int-m {
  margin-bottom: $_int-m;
}
.int-l {
  margin-bottom: $_int-l;
}
.int-xl {
  margin-bottom: $_int-xl;
}
.int-xxl {
  margin-bottom: $_int-xxl;
}
.int-xxxl {
  margin-bottom: $_int-xxxl;
}
.int-ultra {
  margin-bottom: $_int-ultra;
}