.container {
  position: relative;
  width: 100%;
  margin: 40px auto 0 auto;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  @media all and (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
    margin: 80px auto 0 auto;
  }
}

// SVG background
.hero-path {
  .hero-path-wrapper {
    width: 100%;
    position: fixed;
    z-index: -1;
    overflow: hidden;
    left: 0;
    overflow: hidden;
  }
}

// CONTAINER__INTRO
@media all and (min-width: 768px) {
  .container .container__intro {
    .intro__header, .intro__body {
      margin: 0 auto;
      max-width: 940px;
    }
  }
}

// CONTAINER BOX
.container {
  .container__box {
    max-width: 940px;
    margin: 0 auto $_int-80 auto;
    @media all and (min-width: 1024px) {
      margin: 0 auto 320px auto;
    }
    & a.font__small-1 {
      display: block;
      color: $_text-secondary;
      padding-top: 32px;
    }
    // BOX HEADER - TITLES AND INTROS
    .box__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
      margin-left: $_int-16;
      margin-right: $_int-16;
      margin-bottom: $_int-16;
      padding-bottom: 0;
      gap: $_int-16;
      @media all and (min-width: 768px) {
        padding-bottom: $_int-80;
      }
      .font__large-1 {
        margin-bottom: $_int-16;
      }
      .font__large-2 {
        margin-bottom: 0;
        width: 100%;
        @media all and (min-width: 768px) {
          max-width: 45%;
          white-space: nowrap;
        }
      }
      .font__medium-1 {
        margin-bottom: $_int-40;
      }
      .font__medium-3 {
        margin-bottom: $_int-32;
        color: $_text-primary;
        @media all and (min-width: 768px) {
          font-size: $_int-40;
        }
      }
      .font__medium-4 {
        margin-bottom: $_int-16;
      }
      .font__small-1 {
        width: 100%;
        margin-bottom: $_int-16;
        color: $_text-secondary;
        @media all and (min-width: 768px) {
          max-width: 70%;
          text-align: left;
          margin-bottom: 0;
        }
      }
      .font__small-2 {
        max-width: 100%;
        text-transform: uppercase;
        margin-bottom: $_int-16;
        font-weight: bold;
        color: $_text-primary;
        @media all and (min-width: 768px) {
          max-width: 75%;
        }
      }
    }
    .box__header-small {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: stretch;
      margin-left: $_int-16;
      margin-right: $_int-16;
      margin-bottom: $_int-8;
      .font__large-1 {
        margin-bottom: $_int-16;
      }
      .font__large-2 {
        margin-bottom: $_int-24;
      }
      .font__medium-1 {
        margin-bottom: $_int-40;
      }
      .font__medium-3 {
        margin-bottom: $_int-32;
        color: $_text-primary;
        @media all and (min-width: 768px) {
          font-size: $_int-40;
        }
      }
      .font__small-1 {
        max-width: 100%;
        margin-bottom: $_int-32;
        @media all and (min-width: 768px) {
          max-width: 75%;
          color: $_text-secondary;
          text-align: center;
          margin-bottom: $_int-40;
        }
      }
      .font__small-2 {
        max-width: 100%;
        text-transform: uppercase;
        margin-bottom: $_int-16;
        font-weight: bold;
        color: $_text-primary;
        @media all and (min-width: 768px) {
          max-width: 75%;
        }
      }
      .font__medium-4 {
        color: $_text-secondary;
      }
      .picture__center {
        margin-bottom: $_int-80;
        > img {
          display: block;
          width: 80%;
          max-width: 300px;
          margin: 0 auto;
          @media all and (min-width: 768px) {
            width: 500px;
          }
        }
      }
    }
    // BOX BODY - CONTENT
    .box__body {
      margin-left: $_int-16;
      margin-right: $_int-16;
      p {
        color: $_text-secondary;
        margin-bottom: $_int-16;
      }
      .holding-1--full {
        margin: $_int-80 0;
        img {
          width: 100%;
        }
      }
      .picture__center {
        margin: $_int-80 $_int-16;
        > img {
          display: block;
          width: 80%;
          max-width: 300px;
          margin: 0 auto;
          @media all and (min-width: 768px) {
            width: 500px;
          }
        }
      }
    }
  }
  // Role Industry
  .role__industry {
    ol {
      display: flex;
      flex-direction: column;
      gap: $_int-16;
      padding: $_int-40 0;
      margin-bottom: $_int-80;
      @media all and (min-width: 768px) {
        flex-direction: row;
      }
      li {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: $_int-8;
        width: 100%;
        border-bottom: 1px solid $_background-tertiary;
        padding-bottom: 18px;
        @media all and (min-width: 768px) {
          border-bottom: 0px;
          padding-bottom: 0px;
        }
        div {
          width: 100%;
          @media all and (min-width: 768px) {
            width: auto;
          }
        }
        > div:first-child {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: $_background-tertiary;
    margin-bottom: $_int-8;
  }
  .caption {
    display: flex;
    align-items: center;
    gap: $_int-8;
    svg {
      fill: $_text-tertiary;
    }
    .font__small-3 {
      color: $_text-tertiary;
    }
  }
}

// PARAGRAPH BOX
.container .container__box .paragraph__box--1col {
  margin-bottom: $_int-80;
  width: 100%;
}

.container .container__box .paragraph__box--2col {
  margin: $_int-16 0;
  .paragraph_box--1,
  .paragraph_box--2 {
    width: 100%;
    display: block;
    margin-bottom: $_int-80;
    @media all and (min-width: 768px) {
      width: 49.2%;
      display: inline-block;
      vertical-align: top;
    }
    >img {
      display: block;
      max-width: 80%;
      margin: 0 auto;
    }
  }
}

.about__me {
  .about__me--section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    white-space: nowrap;
    gap: 40px;
    font-weight: 100;
    &::before{
      content: "";
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: $_white;
    }
  }
  .about__me--section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    white-space: nowrap;
    gap: 40px;
    &::before{
      content: "";
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: $_white;
    }
    &::after{
      content: "";
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: $_white;
    }
  }
  .about__me--section3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    white-space: nowrap;
    gap: 40px;
    &::after{
      content: "";
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: $_white;
    }
  }
  .about__me--section4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    white-space: nowrap;
    gap: 40px;
    &::before{
      content: "";
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: $_white;
    }
  }
}

// .glass {
//   background: $_background-secondary;
//   padding: 56px 0 32px 0;
//   @media all and (min-width: 768px) {
//     padding: 80px 32px 0 32px;
//   }
// }

.hero-section {
  height: 100vh;
  &.telefonica {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    background-image: url("../images/telefonica/tuenti-hero-image.png");
  }
}

.gallery-showcase {
  height: 10vh;
  width: 100%;
  background-color: red;
  ol {
    li {

    }
  } 
}