.container {
  position: relative;
  width: 100%;
  margin: 40px auto 0 auto;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  @media all and (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
    margin: 80px auto 0 auto;
  }
}

@media all and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

#heroStand {
  position: relative;
  display: inline-block;
}

// CONTAINER__INTRO
@media all and (min-width: 768px) {
  .container .container__intro {
    .intro__header, .intro__body {
      margin: 0 auto;
      max-width: 940px;
    }
  }
}

// CONTAINER BOX
.container {
  .container__box {
    max-width: 940px;
    margin: 0 auto $_int-80 auto;
    @media all and (min-width: 1024px) {
      margin: 0 auto $_int-80*2 auto;
    }
    // BOX HEADER - TITLES AND INTROS
    .box__header {
      margin-left: $_int-16;
      margin-right: $_int-16;
      margin-bottom: $_int-40;
      .font__large-1 {
        margin-bottom: $_int-16;
      }
      .font__medium-1 {
        margin-bottom: $_int-40;
      }
      .font__medium-3 {
        margin-bottom: $_int-8;
      }
      .font__medium-4 {
        margin-bottom: $_int-16;
      }
      .picture__center {
        margin-bottom: $_int-80;
        > img {
          display: block;
          width: 80%;
          max-width: 300px;
          margin: 0 auto;
          @media all and (min-width: 768px) {
            width: 500px;
          }
        }
      }
    }
    // BOX BODY - CONTENT
    .box__body {
      margin-left: $_int-16;
      margin-right: $_int-16;

      &.skills li {
        display: inline-block;
        vertical-align: middle;
      }
      
      ol {
        margin-bottom: $_int-40;
        @media all and (min-width: 768px) {
          margin: 0 auto;
        }
      }

      li {
        box-sizing: border-box;
        
        .works__featured {
          margin-bottom: $_int-40;
        }
        .works__featured,
        .works__featured--full {
          position: relative;
          display: inline-block;
          width: 100%;
          border-radius: 8px;
          box-sizing: border-box;
          vertical-align: top;
          background-color: $_white;
          border: 1px solid $_dark-grey;
          transition: background-color ease-out .2s;
          -webkit-transition: background-color ease-out .2s;
          -moz-transition: background-color ease-out .2s;
          a {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: all ease-out .2s;
            -webkit-transition: all ease-out .2s;
            -moz-transition: all ease-out .2s;
            @media all and (min-width: 768px) {
              &::after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 16px;
                margin: 24px;
                background-color: transparent;
                background-image: url(../../assets/images/arrow-right-dark.svg);
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: center;
                border: 2px solid transparent;
                width: 58px;
                height: 21px;
                border-radius: 50px;
                transition: all ease-out .2s;
                -webkit-transition: all ease-out .2s;
                -moz-transition: all ease-out .2s;
                transition-delay: .01s;
                &:hover {
                  background-color: $_dark;
                  border: 2px solid $_medium-grey;
                  background-image: url(../../assets/images/arrow-right-light.svg);
                }
              }
              &:hover {
                &::after { 
                  background-color: $_dark-grey;
                  border: 2px solid $_medium-grey;
                  background-image: url(../../assets/images/arrow-right-dark.svg);
                }
              }
            }
          }
          @media all and (min-width: 768px) {
            &:hover {
              background-color: $_medium-grey;
            }
          }
        }
        .description {
          margin: $_int-40 $_int-16;
          @media all and (min-width: 768px) {
            margin: $_int-40;
          }
          .font__medium-2,
          .font__small-1,
          .font__small-2 {
            margin-bottom: $_int-8;
          }
          .font__medium-2 {
            color: $_dark;
            font-weight: bold;
          }
          .font__small-1,
          .font__small-2 {
            color: $_light-dark;
          }
        }
      }
      .font__medium-2 {
        margin-bottom: $_int-32;
      }
      .holding-1--full {
        margin: $_int-80 0;
        img {
          width: 100%;
        }
        span {
          margin-top: $_int-16;
        }
        .font__small-3 {
          display: block;
          margin-top: $_int-16;
        }
      }
      .picture__center {
        margin: $_int-80 $_int-16;
        > img {
          display: block;
          width: 80%;
          max-width: 300px;
          margin: 0 auto;
          @media all and (min-width: 768px) {
            width: 500px;
          }
        }
      }
    }
  }
}

// CONTAINER BOX
@media all and (min-width: 768px) {
  .container .container__box .box__body li {
    box-sizing: border-box;
    .works__featured {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      width: 46.6%;
    }
    .works__featured:first-child {
      margin-right: $_int-40/2;
    }
    .works__featured:last-child {
      margin-left: $_int-40/2;
    }
    .works__featured--full {
      display: inline-block;
      width: 100%;
    }
  }
}
@media all and (min-width: 1024px) {
  .container .container__box .box__body li {
    .works__featured {
      display: inline-block;
      width: 47.5%;
    }
  }
}

// PARAGRAPH BOX

.container .container__box .paragraph__box--1col {
  margin-bottom: $_int-80;
  width: 100%;
}

.container .container__box .paragraph__box--2col {
  margin: $_int-16 0;
  .paragraph_box--1,
  .paragraph_box--2 {
    width: 100%;
    display: block;
    margin-bottom: $_int-80;
    vertical-align: top;
    @media all and (min-width: 768px) {
      width: 49.2%;
      display: inline-block;
    }
  }
}