#modalBtn {
	cursor: pointer;
	text-decoration: underline;
	&:hover {
		color: $_text-primary;
	}
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#overlayModal {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto;
  // padding: $_int-24 $_int-40;
  max-width: 75%;
  background: $_background-primary;
  border-radius: 6px;
}

#closeModal {
  position: absolute;
  top: 0;
  right: 0;
  margin: $_int-24;
  display: block;
	background: $_background-tertiary;
  border: 1px solid $_background-primary;
  border-radius: 1000px;
  color: $_text-primary;
  font-size: 16px;
  height: 48px;
  padding: 0 20px;
  cursor: pointer;
}