.project-list {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: $_int-8;
	width: 100%;
	.project-list-divider {
		width: 100%;
		height: 1px;
		background-color: $_neutral07;
		margin: $_int-16 0;
	}
}


.project-list-item {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: $_int-40;
	width: 100%;
	padding-top: $_int-16;
	padding-bottom: $_int-16;
	.project-list-details {
		.project-list-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			width: 56px;
			height: 56px;
			border-radius: 56px;
			.ri-arrow-right-line {
				color: $_text-primary;
			}
		}
	}
	.project-list-thumbnail {
		width: 160px;
		overflow: hidden;
		img {
			border-radius: 16px;
		}
	}
	@media all and (min-width: 768px) {
		/*Animation*/
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-webkit-transition-property: -webkit-transform;
		transition-property: transform;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		&:hover {
			/*Animation*/
			-webkit-transform: scale(1.010);
			-ms-transform: scale(1.010);
			transform: scale(1.010);
			.project-list-details {
				.project-list-icon {
					background-color: $_background-tertiary;
					.ri-arrow-right-line {
						color: $_text-primary;
						font-size: 22px;
					}
				}
			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: $_background-secondary;
				z-index: -1;
				border-radius: 24px;
				-webkit-transform: scale(1.08);
				-ms-transform: scale(1.08);
				transform: scale(1.08);
			}
		}
	}
}

.project-list-details {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
	width: 100%;
	align-items: center;
	.project-list-description {
		width: 100%;
		.font__medium-3 {
			font-weight: 800;
		}
		.font__small-2 {

		}
	}
}

// .project-list-item
// a(href='metallicus.html')
// 	.project-list-thumbnail
// 		.thumbnail
// 			img(src="assets/images/thumbnails/metal-thumbnail-1.jpg", alt="Metallicus work showcase")
// 	.project-list-details
// 		.project-list-description
// 			.font__medium-3 Metallicus
// 			.font__small-2 Web3  ·  Crypto  ·  Blockchain
// 		.project-list-icon
// 			.ri-arrow-right-line