// IMPORT FONTS -> Varent Grotesk
@font-face {
    font-family: 'varent_groteskbold';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: url('webfont.eot'); /* IE9 Compat Modes */
    src: url('varentgrotesk-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('varentgrotesk-bold.woff2') format('woff2'), /* Super Modern Browsers */
            url('varentgrotesk-bold.woff') format('woff'), /* Pretty Modern Browsers */
            url('varentgrotesk-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('varentgrotesk-bold.svg#svgvarentgrotesk-bold') format('svg'); /* Legacy iOS */
    }

// IMPORT FONTS -> Hind
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,700&display=swap');

// IMPORT
@import "common/colors.scss";
@import "common/headings.scss";
@import "common/intervals.scss";
@import "common/layout.scss";
@import "common/buttons.scss";

// HEADER
@import "header.scss";

// CONTAINER
@import "main-container.scss";
@import "intro_header.scss";
@import "intro_body.scss";

// FOOTER
@import "footer";