.container__box
	//- BOX HEADER
	//- .box__header
	//- 	h3.font__large-2 Projects
		//- p.font__small-1
		//- 	| This section shows how wonderful products are made from great ideas. 
		//- 	| I focused on human computer interaction, user experience, and product design.
	//- BOX BODY
	.box__body
		.project-list
			a(href='sphera.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/sphera-thumbnail-1.webp", alt="Sphera work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 Sphera
						.font__small-2 AI tools  ·  SaaS
						.font__small-3 2024
					.project-list-icon
						.ri-arrow-right-line
			a(href='bitloops.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/bitloops-thumbnail-1.webp", alt="Bitloops work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 Bitloops
						.font__small-2 Developer Tools  ·  Low-Code
						.font__small-3 2024
					.project-list-icon
						.ri-arrow-right-line
			a(href='commons.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/commons-thumbnail-1.webp", alt="Commons work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 Commons
						.font__small-2 Collaboration  ·  Voice-first
						.font__small-3 2023
					.project-list-icon
						.ri-arrow-right-line
			a(href='metallicus.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/metal-thumbnail-1.webp", alt="Metallicus work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 Metallicus
						.font__small-2 Web3  ·  Crypto  ·  Blockchain
						.font__small-3 2021 - 2023
					.project-list-icon
						.ri-arrow-right-line
			a(href='clutch.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/clutch-thumbnail-1.webp", alt="Clutch work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 Clutch
						.font__small-2 SaaS  ·  NoCode  ·  LowCode
						.font__small-3 2020 - 2021
					.project-list-icon
						.ri-arrow-right-line
			a(href='taglicious.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/taglicious/taglicious.png", alt="Taglicious work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 Taglicious
						.font__small-2 Media  ·  Communication  ·  Digital news
						.font__small-3 2017
					.project-list-icon
						.ri-arrow-right-line
			a(href='telefonica.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/telefonica-thumbnail-1.webp", alt="Telefonica work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 Telefónica
						.font__small-2 Telco  ·  Mobile apps
						.font__small-3 2015 - 2018
					.project-list-icon
						.ri-arrow-right-line
			a(href='elespanol.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/elespanol-thumbnail-1.webp", alt="El Espanol work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 El Español
						.font__small-2 News Media
						.font__small-3 2015 - 2018
					.project-list-icon
						.ri-arrow-right-line
			a(href='observador.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/observador-thumbnail-1.webp", alt="Observador work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 Observador
						.font__small-2 News Media
						.font__small-3 2014 - 2015
					.project-list-icon
						.ri-arrow-right-line
