.container__box
	//- BOX HEADER
	//- .box__header
	//- 	h3.font__large-2 Projects
		//- p.font__small-1
		//- 	| This section shows how wonderful products are made from great ideas. 
		//- 	| I focused on human computer interaction, user experience, and product design.
	//- BOX BODY
	.box__body
		.project-list
			a(href='metallicus.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/metal-thumbnail-1.webp", alt="Metallicus work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 Metallicus
						.font__small-2 Web3  ·  Crypto  ·  Blockchain
						.font__small-3 2021
					.project-list-icon
						.ri-arrow-right-line
			a(href='clutch.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/clutch-thumbnail-1.webp", alt="Clutch work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 Clutch
						.font__small-2 Software design  ·  SaaS
						.font__small-3 2021
					.project-list-icon
						.ri-arrow-right-line
			a(href='telefonica.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/telefonica-thumbnail-1.webp", alt="Telefonica work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 Metallicus
						.font__small-2 Web3  ·  Crypto  ·  Blockchain
						.font__small-3 2021
					.project-list-icon
						.ri-arrow-right-line
			a(href='elespanol.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/elespanol-thumbnail-1.webp", alt="El Espanol work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 El Español
						.font__small-2 News Media
						.font__small-3 2021
					.project-list-icon
						.ri-arrow-right-line
			a(href='observador.html').project-list-item
				.project-list-thumbnail
					img(src="assets/images/thumbnails/elespanol-thumbnail-1.webp", alt="El Espanol work showcase")
				.project-list-details
					.project-list-description
						.font__medium-3 Observador 
						.font__small-2 News Media
						.font__small-3 2021
					.project-list-icon
						.ri-arrow-right-line
