.selected-projects
	.portfolio-card
		a(href='metallicus.html')
			.thumbnail
				img(src="assets/images/thumbnails/metal-thumbnail-1.jpg", alt="Metallicus work showcase")
			.card
				.card-details
					.card-item
						.card-item-title
							h6.font__medium-3 Metallicus
					.card-areas
						h6.font__small-2 Web3  ·  Crypto  ·  Product Design
						h6.font__small-3 Lisbon, Portugal  /  San Francisco, USA
				.card-icon
					include ../icons/icon-chevron-right
	.portfolio-card
		a(href='clutch.html')
			.thumbnail
				img(src="assets/images/thumbnails/clutch-thumbnail-1.jpg", alt="Clutch work showcase")
			.card
				.card-details
					.card-item
						.card-item-title
							h6.font__medium-3 Clutch
					.card-areas
						h6.font__small-2 Low-code  ·  Design Systems  ·  Product Design
						h6.font__small-3 Lisbon, Portugal  /  Houston Texas
				.card-icon
					include ../icons/icon-chevron-right
	.portfolio-card
		a(href='telefonica.html')
			.thumbnail
				img(src="assets/images/thumbnails/telefonica-thumbnail-1.jpg", alt="Telefonica work showcase")
			.card
				.card-details
					.card-item
						.card-item-title
							h6.font__medium-3 Telefónica
					.card-areas
						h6.font__small-2 Design Systems  ·  Product Design
						h6.font__small-3 Madrid, Spain
				.card-icon
					include ../icons/icon-chevron-right
	.portfolio-card
		a(href='elespanol.html')
			.thumbnail
				img(src="assets/images/thumbnails/elespanol-thumbnail-1.jpg", alt="El Espanol work showcase")
			.card
				.card-details
					.card-item
						.card-item-title
							h6.font__medium-3 El Español
					.card-areas
						h6.font__small-2 Design Systems  ·  Product Design
						h6.font__small-3 Madrid, Spain
				.card-icon
					include ../icons/icon-chevron-right
	.portfolio-card
		a(href='observador.html')
			.thumbnail
				img(src="assets/images/thumbnails/telefonica-thumbnail-2.png", alt="El Espanol work showcase")
			.card
				.card-details
					.card-item
						.card-item-title
							h6.font__medium-3 Observador
					.card-areas
						h6.font__small-2 Design Systems  ·  Product Design
						h6.font__small-3 Madrid, Spain
				.card-icon
					include ../icons/icon-chevron-right