.container__box
	//- BOX HEADER
	.box__header
		h3.font__large-2 Other Work
		p.font__small-1
			| For the past few years, I've been starting up new side projects.
			| This helps drive my progress providing me with a continuous source of motivation and stimulation.
	.box__body.section-other-work
		.other-work
			.portfolio-card.other-work-project
				a(href='polychromeer.html')
					.thumbnail
						img(src="assets/images/thumbnails/polychromeer-icon-color.svg" alt="Polychromeer logo")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Polychromeer
							.card-areas
								.font__small-2 Design as a service
			.portfolio-card.other-work-project
				a(href='snoozeen.html')
					.thumbnail
						img(src="assets/images/thumbnails/snoozeen-icon.svg" alt="Snoozeen logo")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Snoozeen
							.card-areas
								.font__small-2 Business Inteligence
			.portfolio-card.other-work-project
				a(href='https://ouriceiro.pt', target='_blank')
					.thumbnail
						img(src="assets/images/thumbnails/ouriceiro-icon.svg" alt="Ouriceiro icon")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Ouriceiro
							.card-areas
								.font__small-2 Agritech