.container__box
	//- BOX HEADER
	.box__header
		h3.font__large-2 Other Work
		p.font__small-1
			| For the past few years, I've been starting up new side projects.
			| This helps drive my progress providing me with a continuous source of motivation and stimulation.
	.box__body.section-other-work
		.other-work
			.portfolio-card.other-work-project
				a(href='https://polychromeer.com', target='_blank')
					.thumbnail
						img(src="assets/images/thumbnails/polychromeer-icon-color.svg" alt="Polychromeer logo")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Polychromeer
							.card-areas
								.font__small-2 Design as a service
								.font__small-3 (Founder) Lisbon, Portugal
							//- .card-icon
							//- 	.ri-external-link-line
			.portfolio-card.other-work-project
				a(href='https://snoozeen.com', target='_blank')
					.thumbnail
						img(src="assets/images/thumbnails/snoozeen-icon.svg" alt="Snoozeen logo")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Snoozeen
							.card-areas
								.font__small-2 Business Inteligence
								.font__small-3 (Founder) Lisbon, Portugal
							//- .card-icon
							//- 	.ri-external-link-line
			.portfolio-card.other-work-project
				a(href='https://commons.so', target='_blank')
					.thumbnail
						img(src="assets/images/thumbnails/commons-icon.svg" alt="Commons logo")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Commons
							.card-areas
								.font__small-2 Voice-first platform
								.font__small-3 (Acquired) Los Angeles, USA
							//- .card-icon
							//- 	.ri-external-link-line
