.container__box
	//- BOX HEADER
	.box__header
		h3.font__large-2 Other Work
		p.font__small-1
			| For the past few years, I've been starting up new side projects.
			| This helps drive my progress providing me with a continuous source of motivation and stimulation.
	.box__body
		.other-work
			.portfolio-card
				a(href='https://polychromeer.com', target='_blank')
					.thumbnail
						img(src="assets/images/thumbnails/polychromeer-thumbnail-1.jpg")
					.card
						.card-details
							.card-item
								.card-item-title
									h6.font__medium-3 Polychromeer (Founder)
							.card-areas
								h6.font__small-2 Product Services
								h6.font__small-3 Lisbon, Portugal
						.card-icon
							include ../icons/icon-external-link
			.portfolio-card
					a(href='https://snoozeen.com', target='_blank')
						.thumbnail
							img(src="assets/images/thumbnails/snoozeen-thumbnail-1.jpg" alt="Metallicus work showcase" target='_blank')
						.card
							.card-details
								.card-item
									.card-item-title
										h6.font__medium-3 Snoozeen
								.card-areas
									h6.font__small-2 B2C
									h6.font__small-3 Lisbon, Portugal
							.card-icon
								include ../icons/icon-external-link
			.portfolio-card
				a(href='https://commons.so', target='_blank')
					.thumbnail
						img(src="assets/images/thumbnails/commons-thumbnail-1.jpg" alt="Metallicus work showcase" target='_blank')
					.card
						.card-details
							.card-item
								.card-item-title
									h6.font__medium-3 Commons
							.card-areas
								h6.font__small-2 Product Design
								h6.font__small-3 Lisbon, Portugal + LA, USA
						.card-icon
							include ../icons/icon-external-link
			.portfolio-card
				a(href='https://www.tastycollective.org/', target='_blank')
					.thumbnail
						img(src="assets/images/thumbnails/tasty-thumbnail-1.jpg" alt="Metallicus work showcase" target='_blank')
					.card
						.card-details
							.card-item
								.card-item-title
									h6.font__medium-3 Tasty co.
							.card-areas
								h6.font__small-2 Web3
								h6.font__small-3 Lisbon, Portugal + LA, USA
						.card-icon
							include ../icons/icon-external-link
			//- .portfolio-card
			//- 	a(href='taglicious.html')
			//- 		.thumbnail
			//- 			img(src="assets/images/thumbnails/metal-thumbnail-1.jpg", alt="Metallicus work showcase")
			//- 		.card
			//- 			.card-details
			//- 				.card-item
			//- 					.card-item-title
			//- 						h6.font__medium-3 Taglicious
			//- 				.card-areas
			//- 					h6.font__small-2 Mobile App Design  ·  UI  ·  UX  ·  Interaction
			//- 					h6.font__small-3 Madrid, Spain
			//- 			.card-icon
			//- 				include ../icons/icon-external-link