.container__box
	//- BOX HEADER
	.box__header
		h3.font__large-2 Selected Projects
		p.font__small-1 
			| Here is how I combine Human-Computer Interaction, UX and Product Design to turn abstract concepts into products that actually work.
	//- BOX BODY
	.box__body
		.selected-projects
			.portfolio-card
				a(href='sphera.html')
					.thumbnail
						img(src="assets/images/thumbnails/sphera-thumbnail-1.webp", alt="Sphera work showcase")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Sphera
									.font__small-2 AI Tools  ·  SaaS
									.font__small-3 2024
								.card-icon
									.ri-arrow-right-line
			.portfolio-card
				a(href='bitloops.html')
					.thumbnail
						img(src="assets/images/thumbnails/bitloops-thumbnail-1.webp", alt="Bitloops work showcase")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Bitloops
									.font__small-2 Developer Tools  ·  Low-Code
									.font__small-3 2023
								.card-icon
									.ri-arrow-right-line
			.portfolio-card
				a(href='metallicus.html')
					.thumbnail
						img(src="assets/images/thumbnails/metal-thumbnail-1.webp", alt="Metallicus work showcase")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Metallicus
									.font__small-2 Fintech  ·  Blockchain  ·  Web3
									.font__small-3 2021
								.card-icon
									.ri-arrow-right-line
			.portfolio-card
				a(href='commons.html')
					.thumbnail
						img(src="assets/images/thumbnails/commons-thumbnail-1.webp", alt="Commons work showcase")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Commons
									.font__small-2 Collaboration  ·  Voice-first platform
									.font__small-3 2022
								.card-icon
									.ri-arrow-right-line
			.portfolio-card
				a(href='clutch.html')
					.thumbnail
						img(src="assets/images/thumbnails/clutch-thumbnail-1.webp", alt="Clutch work showcase")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Clutch
									.font__small-2 Software design  ·  SaaS
									.font__small-3 2020
								.card-icon
									.ri-arrow-right-line
			.portfolio-card
				a(href='telefonica.html')
					.thumbnail
						img(src="assets/images/thumbnails/telefonica-thumbnail-1.webp", alt="Telefonica work showcase")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Telefónica
									.font__small-2 Design Systems  ·  Telco
									.font__small-3 2018
								.card-icon
									.ri-arrow-right-line
			.portfolio-card
				a(href='elespanol.html')
					.thumbnail
						img(src="assets/images/thumbnails/elespanol-thumbnail-1.webp", alt="El Espanol work showcase")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 El Español
									.font__small-2 News Media
									.font__small-3 2015
								.card-icon
									.ri-arrow-right-line
			.portfolio-card
				a(href='observador.html')
					.thumbnail
						img(src="assets/images/thumbnails/observador-thumbnail-1.webp", alt="Observador work showcase")
					.card
						.card-details
							.card-item
								.card-item-title
									.font__medium-3 Observador
									.font__small-2 News Media
									.font__small-3 2014
								.card-icon
									.ri-arrow-right-line