doctype html
html
	head
		- const pageSegment = "clutch"
		- const projectTitle = "Célio Pires - Clutch"
		- const projectDescription = "Clutch is a powerful visual product builder that blends the power of development tools with the speed and familiarity of design tools."
		//- CANONICAL
		- const pageCanonical = `https://celiopires.com/${pageSegment}`
		//- GLOBAL META TAGS
		- const pageTitle = projectTitle
		- const description = projectDescription
		- const image = "defaultImage"
		//- FACEBOOK META TAGS
		- const facebookTitle = projectTitle
		- const facebookDescription = projectDescription
		- const facebookImage = "defaultFacebookImage"
		//- TWITTER META TAGS
		- const twitterTitle = projectTitle
		- const twitterDescription = projectDescription
		- const twitterImage = "defaultTwitterImage"
		include includes/head
	body
		include includes/nav
		#Clutch.clutch
		.container
			// Intro Header
			#intro__header.container__intro
				.intro__header--bottom
					.role__industry
						ol
							li
								div.font__small-3 Role
								div.font__small-3 Senior Product Designer
							li
								div.font__small-3 Timeframe
								div.font__small-3 2020 to 2021
							li
								div.font__small-3 Industry
								div.font__small-3 SaaS, NoCode, LowCode
					h1.font__extra-large-1 Clutch
					p.font__medium-3
						| Clutch is a powerful visual product builder that blends 
						| the power of development tools with the speed and familiarity of design tools.
					.picture__center--full-screen
						img(src='assets/images/clutch/clutch03.jpg' alt='Clutch is a webapp this is the main desktop interface')
						.caption
							.font__small-3 Clutch is a webapp this is the main desktop interface
			.container__box
				.picture__center--full-screen
					img(src='assets/images/clutch/clutch01.jpg' alt='Clutch - Layer panel in detail')
					.caption
						.font__small-3 Clutch - Layer panel in detail
				.picture__center--full-screen
					img(src='assets/images/clutch/clutch02.jpg' alt='Clutch - Properties panel')
					.caption
						.font__small-3 Clutch - Properties panel
		include includes/footer
