doctype html
html
	head
		- const pageSegment = "elespanol"
		- const projectTitle = "Célio Pires - El Español"
		- const projectDescription = "El Español is a 100% digital media company. The user centered Design, the unique user experiences across devices, being mobile first or even building responsive layouts, were definitely the right keys to successfully compete against bigger organisations."
		//- CANONICAL
		- const pageCanonical = `https://celiopires.com/${pageSegment}`
		//- GLOBAL META TAGS
		- const pageTitle = projectTitle
		- const description = projectDescription
		- const image = "defaultImage"
		//- FACEBOOK META TAGS
		- const facebookTitle = projectTitle
		- const facebookDescription = projectDescription
		- const facebookImage = "defaultFacebookImage"
		//- TWITTER META TAGS
		- const twitterTitle = projectTitle
		- const twitterDescription = projectDescription
		- const twitterImage = "defaultTwitterImage"
		include includes/head
	body
		include includes/nav
		.container
			#intro__header.container__intro
				.intro__header--bottom
					.role__industry
						ol
							li
								div.font__small-3 Role
								div.font__small-3 Product Designer
							li
								div.font__small-3 Timeframe
								div.font__small-3 2015 to 2018
							li
								div.font__small-3 Industry
								div.font__small-3 Media, Communication, Digital news
					h1.font__extra-large-1 El Español
					p.font__medium-3
						| El Español is a 100% digital media company. The user centered Design, the unique user experiences across devices, being mobile first or even building responsive layouts, were definitely the right keys to successfully compete against bigger organisations. 
					.picture__center--full-screen.elespanol
						img(src='assets/images/ee/elespanol-1.jpg' alt='El Español is a native digital news product. • El Español y su diversidad')
						.caption
							.font__small-3 El Español is a native digital news product.			
			.container__box
				.paragraph__box--1col
					.box__header-small
						h2.font__small-2 The challenge
					.box__body
						p.font__small-1
							| The reasons why people are choosing El Español as their main source 
							| of information are diverse. Moving from other sources to a subscription 
							| model news page means the user really wants to be informed and is 
							| willing to pay for a high quality filter that guarantees access only 
							| to the best content. Design is the trust, the identity, the interface but 
							| essentially is the experience that will make the user enjoy every moment 
							| or it will make him come back later. Design is the front door and it has 
							| a lot to do here.
							| You can see the Design process used 
							span#modalBtn here.
						include includes/modal
				.paragraph__box--1col
					.box__body
						.picture__center--small.elespanol
							img(src='assets/images/ee/mobile-overview.gif' alt='El Español is a native digital news product. • El Español y su diversidad')
							.caption
								.font__small-3 
				.paragraph__box--1col
					.box__header-small
						h2.font__small-2 Design infrastructure
					.box__body
						p.font__small-1
							| In 2015, the design team was too small for the amount of design requests. I started to find a strategy to optimise time and resources for better future in-house implementations. Found out that most of the already implemented user experiences and UI elements can be reused or re-implemented in a different use case. They might only differ by a heading or an icon added after or before the text label. I’ve seen here an opportunity to start collecting and documenting those elements to provide them later to designers, developers and the entire company. This was actually the starting point to start building the entire infrastructure that later became El Español’s design system.
				.paragraph__box--2col
					.paragraph_box--1
						.box__header-small
							h2.font__small-2 Information architecture
						.box__body
							p.font__small-1
								| All the functional structure across the project is the single most important component of user experience. Everyone from designers to front-end engineers plan information architecture on a smaller scale to later implement it across larger systems. I was focused on the information architecture applied to the entire product, the design system and also the SASS files as well. Both teams, design and front-end were working side by side and I was doing both, code and design.
					.paragraph_box--2
						.box__header-small
							h2.font__small-2 User experience
						.box__body
							p.font__small-1
								| The quick feedback obtained during the lean UX process was used to measure and validate ideas and to enable a collaborative process between the entire team of developers, designers and product managers. This process was crucial to improve areas like user experience, product strategy and user interface. Some other departments like SEO and Data analysis were involved and definitely the key to obtain real data from current use cases.

				.paragraph__box--1col
					.box__header-small
						h2.font__small-2 Tools
					.box__body
						p.font__small-1
							| After joining El Español I gathered the courage to attempt always better tools for working. For that reason most of my research as a Designer evolves finding the best tools to improve my workflow. 
							a(target='_blank' href='http://sketch.com/')
								| Sketch 
								span.link__external
							|  is the main tool I use for lo-fi and recently hi-fi prototyping. It allows me to expand its functionalities by using plugins and it is extremely fast, cheap and easy to use. Interactions and experiences are made on 
							a(href='https://origami.design/' target='_blank' rel='noopener noreferrer')
								| Origami Studio 
								span.link__external
							|  and for less complex projects I use 
							a(href='https://www.invisionapp.com/' target='_blank' rel='noopener noreferrer')
								| Invision 
								span.link__external
							| . GIT, HTML and SASS are part of my daily tools too.
		include includes/footer