doctype html
html
	head
		- const pageTitle = "Metallicus"
		include includes/head
	body
		include includes/nav
		#Clutch.metallicus
		.container
			// Intro Header
			#intro__header.container__intro
				.intro__header--bottom
					.role__industry
						ol
							li
								div.font__small-3 Role
								div.font__small-3 Lead Product Designer
							li
								div.font__small-3 Timeframe
								div.font__small-3 2021 to Present
							li
								div.font__small-3 Industry
								div.font__small-3 Web3
					h1.font__extra-large-1 Metallicus
					p.font__medium-3
						| The Metallicus ecosystem is creating a digital asset economy that blends traditional finance with blockchain, cryptocurrencies, and DeFi.
						| Metallicus has developed multiple WEB3 products accessible to everyone, simple to use, and compliant with the law. 
					.picture__center
						img(src='assets/images/metallicus/MetalPay04.webp' alt='Clutch amazing software')
				.container__box
					.paragraph__box--2col
						.paragraph_box--1
							.box__header-small
								h2.font__small-2 My role
							.box__body
								p.font__small-1
									| I was the main designer when I joined the company. 
									| To establish themselves as leaders in the cryptocurrency industry, both Metal and Proton's projects required a solid design lanuage to scale and adhere to an ambitious timeline.
									| The team expanded quickly, and I was put in charge of directing the team's performance.
						.paragraph_box--2
							.box__header-small
								h2.font__small-2 Metallicus
							.box__body
								p.font__small-1
									| Some of the most well-known Metallicus products are MetalPay, Proton, Proton Swap, Proton Loan, Webauth,...  
									| Each product has its own personality, making design work considerably more difficult.
									| Consistency gives products a polished appearance and ensures the desired message is being conveyed. 
					.paragraph__box--1col
						.box__header-small
							h2.font__small-2 Design work
						.box__body
							p.font__small-1
								| When similar elements have a consistent appearance and behave similarly, usability and learnability improves everywhere. 
								| Users may concentrate on carrying out the task rather than constantly learning how the product UI functions.
							.holding-1--full
								img(src='assets/images/metallicus/MetalPay05.webp' alt='Clutch amazing software')
					.paragraph__box--2col
						.paragraph_box--1
							.box__header-small
								h2.font__small-2 Proton Blockchain
							.box__body
								p.font__small-1
									| I was the main designer when I joined the company. 
									| To establish themselves as leaders in the cryptocurrency industry, both Metal and Proton's projects required a solid design lanuage to scale and adhere to an ambitious timeline.
									| The team expanded quickly, and I was put in charge of directing the team's performance.
						.paragraph_box--2
							.box__header-small
								h2.font__small-2 Metallicus
							.box__body
								p.font__small-1
									| Some of the most well-known Metallicus products are MetalPay, Proton, Proton Swap, Proton Loan, Webauth,...  
									| Each product has its own personality, making design work considerably more difficult.
									| Consistency gives products a polished appearance and ensures the desired message is being conveyed. 
					.paragraph__box--1col
						.box__header-small
							h2.font__small-2 Proton Loan
						.box__body
							p.font__small-1
								| The global plan of action is a logical and meaningful culmination of the current good practices with an efficient thinking process. Design process was organized like this:
							.holding-1--full
								img(src='assets/images/metallicus/ProtonLoan.webp' alt='Clutch amazing software')
					.paragraph__box--1col
						.box__header-small
							h2.font__small-2 Proton DEX
						.box__body
							p.font__small-1
								| The global plan of action is a logical and meaningful culmination of the current good practices with an efficient thinking process. Design process was organized like this:
							.holding-1--full
								img(src='assets/images/metallicus/ProtonDex-Mobile.webp' alt='Clutch amazing software')
					.paragraph__box--1col
						.picture__center 
							img(src='assets/images/metallicus/ProtonDex-Desktop01.webp' alt='Clutch amazing software')
					.paragraph__box--1col
						.box__header-small
							h2.font__small-2 The project
						.box__body
							p.font__small-1
								| Short videos generated automatically from El Español’s media content. Every published history is stored, indexed and identified by a tag or a keyword, to facilitate search and discoverability. Taglicious will fetch those tags looking for any type of media then it will combine them with sound and animated text. Rather than spending money on a big budget production, journalists can now, with just a few clicks, generate high quality videos in seconds.
		include includes/footer
