doctype html
html
	head
		- const pageTitle = "Novum"
		include includes/head
	body
		include includes/nav
		.container
			#intro__header.container__intro
				.intro__header--bottom
					.role__industry
						ol
							li
								div.font__small-2 Role
								div.font__small-1 Product Designer
							li
								div.font__small-2 Timeframe
								div.font__small-1 2015 to 2018
							li
								div.font__small-2 Industry
								div.font__small-1 Media, Communication, Digital news
					h1.font__extra-large-1 Novum
					.half__intro
						p.font__medium-3
							| Formerly known as Tuenti, this project headquartered in the center of the beautiful city of Madrid, leads an ambitious plan to create, implement and maintain a robust design system to boost consistency across multiple Telco brands.
						.picture__right
							img(src='assets/images/novum/novum_apps.png' alt='Novum is supporting this apps to scale.')
			.container__box
				.container__box
					.paragraph__box--1col
						.box__header-small
							h2.font__small-2 The challenge
						.box__body
							p.font__small-1
								| I was part of one of the key teams responsible for feeding the design system with a huge amount of features and experiences. My team required me to make sure the bridge created between the design system team and the development team was holding strong and tight. Every delivery to stakeholders was in fact a great achievement not only for me but for all the people involved in the process.
					.paragraph__box--1col
						.box__header-small
							h2.font__small-2 Design process
						.box__body
							p.font__small-1
								| The global plan of action is a logical and meaningful culmination of the current good practices with an efficient thinking process. Design process was organized like this:
							.holding-1--full
								img(src='assets/images/novum/design-process-novum.png' alt='The global design process implemented in the majority of my projects.')
								span.font__small-3 The design process used at Novum (Tuenti)
					.paragraph__box--2col
						.paragraph_box--1
							.box__header-small
								h2.font__small-2 Design system
							.box__body
								p.font__small-1
									| Novum’s Design system is user-centric, mobile first, scalable and with a clear vision of what goals to achieve in the future. To scale the product ecosystem there was a need to centralize all the global decisions in a core team focused on giving all the guidelines to build new components, features and experiences.
						.paragraph_box--2
							.box__header-small
								h2.font__small-2 Product
							.box__body
								p.font__small-1
									| Novum is doing an incredible job. I’m glad I’ve had the extreme privilege to work with such talented people. Keeping consistency across multiple brands is definitely what Novum’s is best at. It’s the rules, constraints, and principles implemented in both design and code that will create a single source of truth.
					.paragraph__box--1col
						.box__header-small
							h2.font__small-2 Showcase
						.box__body
							.picture__center
								img(src='assets/images/novum/tuenti-open.gif' alt='Demonstration of how Tuenti behaves. This app is fully packed with Novum components.')
		include includes/footer
