doctype html
html
	head
		- const pageTitle = "Observador"
		include includes/head
	body
		header
			#header.header
				.header__nav
					a.home.font__small-1(href='/') Célio
					ol
						li
							a.about__header.font__small-2(href='about.html') About
						li
							.dropdown
								a.about__header.font__small-2(href='projects.html') Projects
								ul.dropdownMenu
									li
										a.font__small-1(href='telefonica.html') Telefónica
									li
										a.font__small-1(href='elespanol.html') El Español
									li
										a.font__small-1(href='observador.html') Observador
									li
										a.font__small-1(href='taglicious.html') Taglicious
						li
							a.about__header.font__small-2(href='contact.html') Contact
		.container
			#intro__header.container__intro
				.intro__header--bottom
					.role__industry
						ol
							li
								div.font__small-3 Role
								div.font__small-3 Product Designer
							li
								div.font__small-3 Timeframe
								div.font__small-3 2014 to 2015
							li
								div.font__small-3 Industry
								div.font__small-3 Media, Communication, Digital news
					h1.font__extra-large-1 Observador
					p.font__medium-3
						|  The look and feel of a modern online product was carefully planned to be combined with a clean and simple design
					.picture__cover
						img(src='assets/images/obs/homepage_obs.gif' alt='Observador homepage showcasing some of the latest news • Radio • Covid • Lifestyle • Podcast • Premium')
			.container__box
				.paragraph__box--1col
					.box__header-small
						h2.font__small-2 The challenge
					.box__body
						p.font__small-1
							| In the technology-driven year of 2014-2015, a lot of News pages did not keep up with the technology revolution. Their visuals had been the same for years and, in addition, they had not adapted their expertise to the new smart gadgets. Disruptive digital merchandise were required to operate on any device, at any time, in order to accomplish a great human-machine interaction.
				.paragraph__box--1col
					.box__header-small
						h2.font__small-2 Design process
					.box__body
						p.font__small-1
							| The global plan of action is a logical and meaningful culmination of the current good practices with an efficient thinking process. Design process was organized like this:
						.holding-1--full
							img(src='assets/images/obs/design-process-obs.png' alt='Design process showcasing stages and architecture')
							span.font__small-3 The design process used at Observador
				.paragraph__box--2col
					.paragraph_box--1
						.box__header-small
							h2.font__small-2 Human centric
						.box__body
							p.font__small-1
								| The project prioritised mobility and flexibility, which were at the core of every decision. It was aimed at being accessible to young or old people, and being mobile-first, fully responsive, and accessible to all users. The choice of a priori premises reflected the project's initial ambitions.
					.paragraph_box--2
						.box__header-small
							h2.font__small-2 Methodologies
						.box__body
							p.font__small-1
								| Methodologies like Desk research and Benchmarking were being constantly used to research the market and the competitors. Finding the right UI elements and the UX is a crucial step to counterbalance Observador’s editorial position. Opinion pages were designed with those methods in mind, they contain important issues written with the right balance of fact, analysis and a touch of irony or humor sometimes.
				.paragraph__box--2col
					.paragraph_box--1
						.box__header-small
							h2.font__small-2 Visual consistency
						.box__body
							p.font__small-1
								| A 12 column layout was used for mobile, tablet and desktop devices. To calculate the optimal number of columns, the vertical rhythm, the fixed or responsive grids, the gutters/margins and so on, … I’ve researched a lot on how to achieve a visual system that would look harmonious and won’t make users think when making a decision. To help me achieve the final results, 
								a(target='_blank' href='http://sketch.com/')
									| Sketch 
									span.link__external
								|  (2014/2015) helped me a lot and since then has been my most used design tool.
					.paragraph_box--2
						.box__header-small
							h2.font__small-2 Design, front end and back end
						.box__body
							p.font__small-1
								| At Observador both professionals were always working side by side and sharing knowledge. I had the opportunity to do code and developers were always helping with the design decisions and user experience. We were a really small team at that time and in my case thinking in CSS while doing my designs helped me a lot with limitations and constraints.
				.paragraph__box--1col
					.box__header-small
						h2.font__small-2 Technology
					.box__body
						p.font__small-1
							| Runs on Wordpress and another powerful open source technologies. In less than a year won the award for the “Best news media website” in the country and after a few more awards was mentioned by the Wordpress community as "A case study around the world" for its very impressive architecture.
		include includes/footer
