doctype html
html
	head
		- const projectTitle = "Projects"
		- const projectDescription = "defaultDescription"
		//- GLOBAL META TAGS
		- const pageTitle = projectTitle
		- const description = projectDescription
		- const image = "defaultImage"
		//- FACEBOOK META TAGS
		- const facebookTitle = projectTitle
		- const facebookDescription = projectDescription
		- const facebookImage = "defaultFacebookImage"
		//- TWITTER META TAGS
		- const twitterTitle = projectTitle
		- const twitterDescription = projectDescription
		- const twitterImage = "defaultTwitterImage"
		include includes/head
	body
		include includes/nav
		.container
			// Hero Path
			.hero-path
				.hero-path-wrapper
					// ?xml version="1.0" encoding="UTF-8"?
					svg(width='100%' height='100%' viewBox='0 0 1440 1020' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
						title Path 3
						g(stroke-width='0.3' fill='none' fill-rule='evenodd')
							g#Layout(transform='translate(0.000000, -85.000000)' stroke='#979797')
								path#Path-3(d='M-3.23709559,1106.15313 C63.9005843,1062.3637 76.8922181,1054.77412 158.673703,993.920175 C275.690314,906.847621 392.088951,818.938191 507.840303,730.19057 C558.267133,691.527858 662.903224,603.024914 707.405865,564.511954 C791.354868,491.861781 876.949904,416.476076 940.244055,324.050371 C964.273923,288.960598 994.682219,242.61873 1003.57731,198.764621 C1010.43264,164.966809 1010.6024,128.450121 1007.91264,94.166758 C1007.71668,91.6691044 1008.07902,88.25874 1005.97022,86.9061053 C995.00928,79.8755073 990.111157,105.027494 998.937744,108.249265 C1001.61378,109.226039 1004.50833,109.681067 1007.35682,109.717777 C1147.39475,111.522547 1287.44981,111.83222 1427.48592,113.772275 C1495.30284,114.711808 1533.52664,117.926033 1603.20424,126.538387 C1657.26813,133.220839 1732.82763,163.574541 1771.86084,202.000029 C1774.20321,204.305925 1772.12997,208.568355 1772.26453,211.852518')
			// Intro Header
			#intro__header.container__intro
				.intro__header--bottom
					h1.font__extra-large-1 Projects
					h2.font__medium-3
			// Selected Projects
			include includes/projects/all-work

			// Other work
			include includes/projects/other-work

		include includes/footer