doctype html
html
	head
		- const pageTitle = "Telefonica"
		include includes/head
	body
		include includes/nav
		//- #telefonica.hero-section.telefonica
		#telefonica.telefonica
		.container
			// Intro Header
			#intro__header.container__intro
				.intro__header--bottom
					.role__industry
						ol
							li
								div.font__small-3 Role
								div.font__small-3 Product Designer
							li
								div.font__small-3 Timeframe
								div.font__small-3 2015 to 2018
							li
								div.font__small-3 Industry
								div.font__small-3 Media, Communication, Digital news
					h1.font__extra-large-1 Telefónica
					p.font__medium-3
						| This project, which has its headquarters in Madrid's city center, was in charge of implementing an ambitious strategy to develop, execute, and maintain a strong design system to improve consistency among various Telco brands. 
						| I was part of the Tuenti team.
					//- .picture__cover
					//- 	img(src='assets/images/telefonica/telefonica_apps.png' alt='Telefonica is supporting this apps to scale.')
			.container__box
				.paragraph__box--2col
					.paragraph_box--1
						.box__header-small
							h2.font__small-2 The Challenge
						.box__body
							p.font__small-1
								| I was part of one of the key teams responsible for feeding the design system with a huge amount of features and experiences. My team required me to make sure the bridge created between the design system team and the development team was holding strong and tight. Every delivery to stakeholders was in fact a great achievement not only for me but for all the people involved in the process.
					.paragraph_box--2
						.box__header-small
							h2.font__small-2 Design system
						.box__body
							p.font__small-1
								| Telefónica's Design system is user-centric, mobile first, scalable and with a clear vision of what goals to achieve in the future. To scale the product ecosystem there was a need to centralize all the global decisions in a core team focused on giving all the guidelines to build new components, features and experiences.
				.paragraph__box--1col
					.box__header-small
						h2.font__small-2 Design process
					.box__body
						p.font__small-1
							| The global plan of action is a logical and meaningful culmination of the current good practices with an efficient thinking process. Design process was organized like this:
						.holding-1--full
							img(src='assets/images/telefonica/design-process-novum.png' alt='The global design process implemented in the majority of my projects.')
							span.font__small-3 The design process used at Telefónica (Tuenti)
				.paragraph__box--1col
						.box__header-small
							h2.font__small-2 Product
						.box__body
							p.font__small-1
								| Telefónica is doing an incredible job. I’m glad I’ve had the extreme privilege to work with such talented people. Keeping consistency across multiple brands is definitely what Telefónica is best at. It’s the rules, constraints, and principles implemented in both design and code that will create a single source of truth.
				.paragraph__box--1col
					.box__header-small
						h2.font__small-2 Overview
					.box__body
					.picture__center--small
						img(src='assets/images/telefonica/tuenti-open.gif' alt='Current app screens and functionalities')
						.caption
							.font__small-3 Current app screens and functionalities
		include includes/footer
