//- //- Decalration
//- mixin cards(href, title, location, description, divider)
//- 	.card
//- 		a(href=href)
//- 		.card-number
//- 		.card-details
//- 			.card-item
//- 				.card-item-title
//- 					h6.font__medium-2=title
//- 				.card-item-location
//- 					h6.font__small-2=location
//- 			.card-areas
//- 				h6.font__small-2=description
//- 		.card-icon
//- 		.divider=divider

//- //- HOw to USE it
//- +cards('novum.html', 'Metallicus', '2021 - San Francisco, USA', 'Area of work • Area of work • Area of work', divider=false)

