.dropdown
	a.about__header.font__small-2 Projects
	ul.dropdownMenu
		li
			a.font__small-1(href='metallicus.html') Metallicus
		li
			a.font__small-1(href='commons.html') Commons
		li
			a.font__small-1(href='clutch.html') Clutch
		li
			a.font__small-1(href='telefonica.html') Telefónica
		li
			a.font__small-1(href='elespanol.html') El Español
		li
			a.font__small-1(href='observador.html') Observador
		//- li
		//- 	a.font__small-1(href='projects.html') View all