.dropdown
	a.about__header.font__small-2 Projects
	ul.dropdownMenu
		li
			a.font__small-1(href='/projects.html') View all
		li
			a.font__small-1(href='/index.html#selected-projects') Selected projects
		li
			a.font__small-1(href='/blog.html') Blog