footer
	.container__box 
		.goodbye
			ul
				li 
					a(class='font__small-1' href='contact.html') Contact
				li
					a(class='font__small-1' href='projects.html') Projects
				li
					a(class='font__small-1' target='_blank' href='https://linkedin.com/in/celiopires') Linkedin
						span.external__source
				li
					a(class='font__small-1' target='_blank' href='https://twitter.com/celiow') Twitter
						span.external__source
				li
					a(class='font__small-1' target='_blank' href='https://read.cv/celiows') Read.cv
						span.external__source

				.font__small-3 Copyright © 
					span#copyright-year
					|  Célio Pires. All rights reserved
//- script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-58945265-1')
//- script.
//- 	window.dataLayer = window.dataLayer || [];
//- 	function gtag(){dataLayer.push(arguments);}
//- 	gtag('js', new Date());
//- 	gtag('config', 'UA-58945265-1');