footer
	.container__box 
		.goodbye
			ul
				li 
					a(class='font__small-1' href='contact.html') Contact
				li
					a(class='font__small-1' href='projects.html') Projects
				li
					a(class='font__small-1' target='_blank' href='https://linkedin.com/in/celiopires') Linkedin
						i.ri-external-link-line
				li
					a(class='font__small-1' target='_blank' href='https://twitter.com/celiow') Twitter
						i.ri-external-link-line
				li
					a(class='font__small-1' target='_blank' href='https://read.cv/celiows') Read.cv
						i.ri-external-link-line

				.font__small-3 Copyright © 
					span#copyright-year
					|  Célio Pires. All rights reserved