footer
	.container__box 
		.goodbye
			ul
				li
					a(class='font__small-1' target='_blank' href='https://linkedin.com/in/celiopires')
						i.ri-linkedin-fill 
						| Linkedin
				li
					a(class='font__small-1' target='_blank' href='https://twitter.com/celiows')
						i.ri-twitter-fill
						| X
				li
					a(class='font__small-1' target='_blank' href='https://instagram.com/celiows')
						i.ri-instagram-fill
						| Instagram

				.font__small-3 Copyright © 
					span#copyright-year
					|  Célio Pires. All rights reserved