meta(http-equiv="cache-control" content="public")
meta(http-equiv="content-language" content="en-US, en-gb")
meta(http-equiv="content-type" content="text/html; charset=UTF-8")
meta(name="author" content="Celio Pires")
meta(name="title" content="Celio Pires")
meta(name="copyright" content="All rights reserved. Celio Pires")
meta(name="description" content="Product designer passionate about technology and surely growing an obsession for creating, scaling and maintaining design systems")
meta(name="keywords" content="Design, UI, UX, Product design, Design systems")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="robots" content="index, follow")
meta(name="revisit-after" content="15 days")
meta(name="rating" content="general")
meta(rel="canonical" href="https://celiopires.com")
link(rel="shortcut icon" type="image/png" href="assets/images/favicon.png")


// FACEBOOK
meta(property="og:type" content="website")
meta(property="og:title" content="Célio Pires")
meta(property="og:description" content="Product designer passionate about technology and surely growing an obsession for creating, scaling and maintaining design systems.")
meta(property="og:image" content="assets/images/about/celio-photo-square.jpg")
meta(property="og:site_name" content="Célio Pires")

// Twitter
meta(name="twitter:title" content="Célio Pires")
meta(name="twitter:description" content="Product designer passionate about technology and surely growing an obsession for creating, scaling and maintaining design systems.")
meta(name="twitter:image" content="assets/images/about/celio-photo-square.jpg")
meta(name="twitter:site" content="@celiows")
meta(name="twitter:creator" content="@celiows")

// Linkedin
meta(name="image" property="og:image" content="assets/images/about/celio-photo-square.jpg")
meta(name="author" content="Célio Pires")

// Styles and JS
meta(http-equiv="content-script-type" content="text/javascript")
meta(http-equiv="content-style-type" content="text/css")
link(rel="stylesheet" href="assets/css/styles.css?v=002.028")
title Célio Pires - #{pageTitle}