#modal.modal
	.modal-content
		.holding-1--full
			img(src='assets/images/ee/design-process-ee.png' alt='El Espanol design process')
			span.font__small-3 El Español design process
	button#closeModal X