#modal.modal
	#overlayModal
		.modal-content
			.holding-1--full
				button#closeModal X
				img(src='assets/images/ee/design-process-ee.png' alt='El Espanol design process')
				//- span.font__small-3 El Español design process