header
	.header
		.header__nav 
			a(class="home font__small-1" href="/") Célio
			ol
				li
					a(class="about__header font__small-2" href="/about.html") About
				li 
					include dropdown
				li
					a(class="about__header font__small-2" href="/contact.html") Contact