header
    .header
        .header__nav 
            a(class="home font__small-1" href="/") Célio
            ol
                li
                    a(class="about__header font__small-2" href="about.html") About
                li 
                    .dropdown
                        a(class="about__header font__small-2" href="projects.html") Projects
                        ul.dropdownMenu
                            li
                                a(class="font__small-1" href="telefonica.html") Telefónica
                            li
                                a(class="font__small-1" href="elespanol.html") El Español
                            li
                                a(class="font__small-1" href="observador.html") Observador
                            li
                                a(class="font__small-1" href="taglicious.html") Taglicious
                li
                    a(class="about__header font__small-2" href="contact.html") Contact