// Skills

.skill {
  position: relative;
  // background-color: $_light-dark;
  //padding: 7px 10px;
  //border-radius: 50px;
  @media all and (min-width: 768px) {
      //padding: 22px 40px;
  }
}

// EXTERNAL SOURCE

.external__source {
  &::after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 8px;
    margin-bottom: -2px;
    background-image: url(../images/arrow-large-light.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.link__external {
  &::after {
    content: '';
    display: inline-block;
    width: 13px;
    height: 11px;
    margin-right: 0px;
    margin-left: -2px;
    margin-bottom: -2px;
    background-image: url(../images/arrow-link.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

// LANDING - ABOUT SECTION
.internal__source {
  &::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 16px;
    margin-left: 12px;
    margin-right: 12px;
    background-image: url(../images/arrow-right-light.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}