// More button

.more__button {
  background-color: $_light-dark;
  border: 2px solid $_light-dark;
  border-radius: 50px;
  padding: 30px 32px;
  display: block;
  @media all and (min-width: 768px) {
    transition: border ease-out .2s;
    -webkit-transition: border ease-out .2s;
    -moz-transition: border ease-out .2s;
    cursor: pointer;
    &:hover {
      opacity: 1;
      border-color: $_border;
    }
  }
}


// Skills

.skill {
  margin: 0 16px 24px 0;
  background-color: transparent;
  padding: 22px 40px;
  border: 2px solid $_dark-grey;
  border-radius: 50px;
}