/* White */
$_white: #FFFFFF;

/* Black */
$_black: #020202; // Global Background

/* Neutrals */
$_neutral01: #EFEFEF;
$_neutral02: #DFDFDF;
$_neutral03: #B1B1B1;
$_neutral04: #939394;
$_neutral05: #69696A;
$_neutral06: #404141;
$_neutral07: #282929;
$_neutral08: #1D1E1F;
$_neutral09: #121415;

/* Text */
$_text-primary:   $_neutral01;
$_text-secondary: $_neutral03;
$_text-tertiary:  $_neutral04;

/* Text */
$_background-primary:   $_neutral09;
$_background-secondary: $_neutral08;
$_background-tertiary:  $_neutral07;

/* Blue */
$_blue01: #A7D6F8;
$_blue02: #57ACDE;
$_blue03: #407EA3;
$_blue04: #29526A;
$_blue05: #182F3E;

// GRADIENTS
@mixin horizontal-gradient($from, $to, $stop: 100%) {
  background-color: $from;
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);
  background: -ms-linear-gradient(left, $from 0%, $to $stop);
  background: linear-gradient(to right, $from 0%, $to $stop);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}