// Whites
$_white: #FFFFFF;

// Darks
$_black: #080808; // Global Background
$_dark: #12100E; // Component Background
//$_medium-dark: #26282F;
$_light-dark: #171412;

// Greys
$_grey: #5D606D;
$_light-grey: #F5F5F5;
$_medium-grey: #EBEBEB;
$_dark-grey: #CFCFCE;

// Blues
$_blue: #A3CEF1;
$_blue-dark: #2878B8;

//Oranges
$_orange-ee: #FFF7E5;
$_blue-obs: #E5F4FF;
$_red-taglicious: #FFE5E5;

// Default color for links
$_link: #A3CEF1;

// Borders
$_border: $_light-grey;

// GRADIENTS
@mixin horizontal-gradient($from, $to, $stop: 100%) {
  background-color: $from;
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);
  background: -ms-linear-gradient(left, $from 0%, $to $stop);
  background: linear-gradient(to right, $from 0%, $to $stop);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

@mixin vertical-gradient($from, $to, $stop: 100%) {
  background-color: $from;
  background-image: -moz-linear-gradient(bottom, $from 0%, $to $stop);
  background-image: -webkit-gradient(linear, bottom, top, color-stop(0%, $from), color-stop($stop, $to));
  background-image: -webkit-linear-gradient(bottom, $from 0%, $to $stop);
  background-image: -o-linear-gradient(bottom, $from 0%, $to $stop);
  background: -ms-linear-gradient(bottom, $from 0%, $to $stop);
  background: linear-gradient(to top, $from 0%, $to $stop);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}