// Importing fonts
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,700&display=swap');

//WEIGHTS
$_light: 300;
$_regular: 400;
$_bold: 700;

// Headings
h1, h2, h3, h4, h5, h6, p {
  font-family: "Hind", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 1.1rem;
  color: $_text-primary;
  margin-bottom: 60px;
  font-weight: $_light;
  @media all and (min-width: 768px) {
    font-size: 1.6rem;
  }
}

// SANS SERIF FONT
.font__large-1,
.font__large-2,
.font__medium-1,
.font__medium-2,
.font__medium-3,
.font__medium-4,
.font__small-1,
.font__small-2,
.font__small-3 {
  font-family: 'Hind', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Font Large


.font__large-1 {
  font-size: 60px;
  line-height: 76px;
  font-weight: $_bold;
  color: $_text-primary;
  @media all and (min-width: 768px) {
    font-size: 80px;
    line-height: 96px;
  }
}

.font__large-2 {
  font-size: 40px;
  line-height: 56px;
  font-weight: $_bold;
  color: $_text-primary;
  @media all and (min-width: 768px) {
    font-size: 60px;
    line-height: 76px;
  }
}

// Font Medium

.font__medium-1 {
  font-size: 34px;
  line-height: 44px;
  font-weight: $_light;
  color: $_text-primary;
  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 36px;
  }
}

.font__medium-2 {
  font-size: 26px;
  line-height: 36px;
  font-weight: $_light;
  color: $_text-primary;
  @media all and (min-width: 768px) {
    font-size: 34px;
    line-height: 44px;
  }
}

.font__medium-3 {
  font-size: 26px;
  line-height: 36px;
  font-weight: $_light;
  color: $_text-primary;
}

.font__medium-4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: $_bold;
  color: $_text-primary;
}

// Font Small

.font__small-1 {
  font-size: 18px;
  line-height: 26px;
  font-weight: $_regular;
  color: $_text-primary;
}

.font__small-2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: $_regular;
  color: $_text-primary;
}

.font__small-3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: $_regular;
  color: $_text-primary;
}