/* Importing Fonts */

//WEIGHTS
$_light: 300;
$_regular: 400;
$_bold: 700;

// Headings
h1, h2, h3, h4, h5, h6, p {
  font-family: "Hind", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 1.1rem;
  color: $_text-primary;
  margin-bottom: $_int-40;
  font-weight: $_light;
  font-family: 'Hind', sans-serif;
  @media all and (min-width: 768px) {
    font-size: 1.6rem;
    margin-bottom: $_int-60;
  }
}

// SANS SERIF FONT
.font__extra-large-1,
.font__large-1,
.font__large-2,
.font__medium-1,
.font__medium-2,
.font__medium-3,
.font__medium-4,
.font__small-1,
.font__small-2,
.font__small-3 {
  font-family: "Hind", Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Font Extra Large
.font__extra-large-1 {
  font-size: 32px;
  font-weight: $_bold;
  color: $_text-primary;
  @media all and (min-width: 768px) {
    font-size: 104px;
    line-height: 1.4;
  }
}

// Font Large
.font__large-1 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: $_bold;
  color: $_text-primary;
  @media all and (min-width: 768px) {
    font-size: 80px;
    line-height: 96px;
  }
}

.font__large-2 {
  font-size: 28px;
  font-weight: $_bold;
  color: $_text-primary;
  @media all and (min-width: 768px) {
    font-size: 60px;
    line-height: 76px;
  }
}

// Font Medium

.font__medium-1 {
  font-size: 26px;
  font-weight: $_light;
  color: $_text-primary;
  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 36px;
  }
}

.font__medium-2 {
  font-size: 24px;
  font-weight: $_light;
  color: $_text-primary;
  @media all and (min-width: 768px) {
    font-size: 34px;
    line-height: 44px;
  }
}

.font__medium-3 {
  font-size: 20px;
  font-weight: $_light;
  color: $_text-primary;
}

.font__medium-4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: $_bold;
  color: $_text-primary;
}

// Font Small

.font__small-1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: $_regular;
  color: $_text-primary;
  @media all and (min-width: 768px) {
    font-size: 18px;
    line-height: 26px;
  }
}

.font__small-2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: $_regular;
  color: $_text-primary;
}

.font__small-3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: $_regular;
  color: $_text-primary;
}