body {
  position: relative;
  overflow: auto;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  background-color: $_background-primary;
  color: $_text-primary;
  box-sizing: border-box;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: -10;
}

img {
  width: 100%;
  vertical-align: top;
}

a {
  color: $_blue01;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    filter: alpha(opacity = 80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
  }
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.picture__center {
  &--small {
    > img {
      display: block;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      border-radius: 8px;
      overflow: hidden;
    }
    &.telefonica,
    &.elespanol {
      background: linear-gradient(160.3deg, #404141 7.87%, #121415 86.81%);
    }
  }
  &--full-screen {
    width: 100%;
    margin-left: -#{$_int-16};
    margin-right: -#{$_int-16};
    @media all and (min-width: 768px) {
      margin-left: -#{$_int-32};
      margin-right: -#{$_int-32};
    }
    > img {
      display: block;
      width: 100%;
      max-width: 100%;
      margin: 0;
      border-radius: 0;
      overflow: hidden;
      @media all and (min-width: 768px) {
        border-radius: 0;
      }
      &.telefonica,
      &.elespanol {
        background: linear-gradient(160.3deg, #404141 7.87%, #121415 86.81%);
      }
    }
  }
  &--small,
  &--full-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $_int-40;
    gap: $_int-16;
    padding: 0 0 $_int-40 0;
    border-radius: 24px;
    overflow: hidden;
    @media all and (min-width: 768px) {
      margin-bottom: $_int-80;
      padding: 0 0 $_int-40 0;
    }
    .caption {
      display: flex;
      align-items: center;
      gap: $_int-8;
      margin-top: $_int-16;
      margin-bottom: $_int-16;
      padding-left: $_int-16;
      padding-right: $_int-16;
      text-align: center;
      svg {
        fill: $_text-tertiary;
      }
      .font__small-3 {
        color: $_text-tertiary;
        mix-blend-mode: difference;
      }
    }
  }
}